lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/pva/part_3/update-fastq-list-rows-dbs/step_functions_templates/add_fastq_list_rows_db_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Move Inputs",
  "States": {
    "Move Inputs": {
      "Type": "Pass",
      "Parameters": {
        "payload_data.$": "$.payload.data"
      },
      "Next": "Get Fastq List Row Item"
    },
    "Get Fastq List Row Item": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.payload_data.fastqListRow.rgid",
          "id_type": "${__fastq_list_row_partition_name__}"
        }
      },
      "ResultPath": "$.get_fastq_list_row_item_step",
      "Next": "Is Fastq List Row In Db"
    },
    "Is Fastq List Row In Db": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.get_fastq_list_row_item_step.Item",
          "IsPresent": true,
          "Comment": "Fastq List Row In Database",
          "Next": "Populate Fastq List Row"
        }
      ],
      "Default": "Pass"
    },
    "Populate Fastq List Row": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.payload_data.id",
          "id_type": "${__fastq_list_row_partition_name__}"
        },
        "UpdateExpression": "SET fastq_list_row_json = :fastq_list_row_json",
        "ExpressionAttributeValues": {
          ":fastq_list_row_json": {
            "S.$": "States.JsonToString($.payload_data.fastqListRow)"
          }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    }
  }
}
