lib/workload/stateless/bssh_manager/step_functions_templates/bclconvert_success_event_state_machine.json
{
  "Comment": "Generate an icav2 manifest file for copying data out from a bclconvert workflow session, then deploy and wait for the copy jobs to complete",
  "StartAt": "Move inputs",
  "States": {
    "Move inputs": {
      "Type": "Pass",
      "Next": "Initialise Step Functions Complete Parameter",
      "Parameters": {
        "workflow_inputs.$": "$"
      }
    },
    "Initialise Step Functions Complete Parameter": {
      "Type": "Pass",
      "Next": "Get Manifest",
      "ResultPath": "$.step_functions_complete",
      "Result": {
        "is_complete": null
      }
    },
    "Get Manifest": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__bclconvert_success_event_lambda_arn__}",
        "Payload.$": "$.workflow_inputs.detail.ica-event"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Launch Copy Job StateMachine",
      "ResultPath": "$.bclconvert_success_event_handler_step",
      "TimeoutSeconds": 300,
      "ResultSelector": {
        "basespace_run_id.$": "$.Payload.basespace_run_id",
        "cttso_run_configurations.$":"$.Payload.cttso_run_configurations",
        "fastq_list_rows.$": "$.Payload.fastq_list_rows",
        "manifest.$":"$.Payload.manifest",
        "output_uri.$": "$.Payload.output_uri",
        "run_id.$": "$.Payload.run_id"
      }
    },
    "Launch Copy Job StateMachine": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${__copy_batch_data_state_machine_arn__}",
        "Input": {
          "manifest.$": "$.bclconvert_success_event_handler_step.manifest"
        }
      },
      "ResultSelector": {
        "execution_id.$": "$.ExecutionArn"
      },
      "ResultPath": "$.state_machine_parameter",
      "Next": "Set Workflow Outputs"
    },
    "Set Workflow Outputs": {
      "Type": "Pass",
      "Next": "Succeed",
      "Parameters": {
        "outputs": {
          "basespace_run_id.$": "$.bclconvert_success_event_handler_step.basespace_run_id",
          "cttso_run_configurations.$": "$.bclconvert_success_event_handler_step.cttso_run_configurations",
          "fastq_list_rows.$":  "$.bclconvert_success_event_handler_step.fastq_list_rows",
          "manifest.$": "$.bclconvert_success_event_handler_step.manifest",
          "output_uri.$":  "$.bclconvert_success_event_handler_step.output_uri"
        }
      }
    },
    "Succeed": {
      "Type": "Succeed"
    }
  }
}