lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/handy-pal/part_3/launch-oncoanalyser-ready-events/step_functions_templates/library_qc_complete_to_oncoanalyser_ready_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Move Inputs",
  "States": {
    "Move Inputs": {
      "Type": "Pass",
      "Parameters": {
        "payload_data.$": "$.payload.data"
      },
      "Next": "Get Library Item"
    },
    "Get Library Item": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.payload_data.library.orcabusId",
          "id_type": "${__library_partition_name__}"
        }
      },
      "ResultPath": "$.get_library_item_step",
      "Next": "Library Item In DataBase"
    },
    "Library Item In DataBase": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.get_library_item_step.Item",
          "IsPresent": true,
          "Comment": "Library Item In DataBase",
          "Next": "Add QC Complete"
        }
      ],
      "Default": "Not a WGTS library"
    },
    "Add QC Complete": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.payload_data.library.orcabusId",
          "id_type": "${__library_partition_name__}"
        },
        "UpdateExpression": "SET qc_metrics_json = :qc_metrics_json",
        "ExpressionAttributeValues": {
          ":qc_metrics_json": {
            "S.$": "States.JsonToString($.payload_data.qcMetrics)"
          }
        }
      },
      "ResultPath": null,
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Get Subject Object From Orcabus Id"
    },
    "Get Subject Object From Orcabus Id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__get_orcabus_obj_from_subject_id_lambda_function_arn__}",
        "Payload": {
          "value.$": "$.get_library_item_step.Item.subject_orcabus_id.S"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "subject_obj.$": "$.Payload",
        "individual_id.$": "States.ArrayGetItem($.Payload.individualSet[?(@.individualId =~ /SBJ.*?/i)].individualId, 0)"
      },
      "ResultPath": "$.get_subject_obj_step",
      "Next": "Is WTS Library"
    },
    "Is WTS Library": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.get_library_item_step.Item.type.S",
          "StringEquals": "WTS",
          "Comment": "Is WTS Library",
          "Next": "Collect WTS Parameters"
        }
      ],
      "Default": "Get Libraries From Subject"
    },
    "Collect WTS Parameters": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get Tumor Fastq List Row Ids",
          "States": {
            "Get Tumor Fastq List Row Ids": {
              "Type": "Map",
              "ItemsPath": "$.get_library_item_step.Item.fastq_list_row_id_set.SS",
              "ItemSelector": {
                "fastq_list_row_id.$": "$$.Map.Item.Value"
              },
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get Tumor Fastq List Row Item",
                "States": {
                  "Get Tumor Fastq List Row Item": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:getItem",
                    "Parameters": {
                      "TableName": "${__table_name__}",
                      "Key": {
                        "id.$": "$.fastq_list_row_id",
                        "id_type": "${__fastq_list_row_partition_name__}"
                      }
                    },
                    "ResultSelector": {
                      "fastq_list_row_id.$": "$.Item.id.S",
                      "fastq_list_row_obj.$": "States.StringToJson($.Item.fastq_list_row_json.S)"
                    },
                    "ResultPath": "$.get_tumor_fastq_list_row_obj",
                    "End": true
                  }
                }
              },
              "ResultSelector": {
                "tumor_fastq_list_rows.$": "$.[*].get_tumor_fastq_list_row_obj.fastq_list_row_obj",
                "tumor_fastq_list_row_ids.$": "$.[*].get_tumor_fastq_list_row_obj.fastq_list_row_id"
              },
              "ResultPath": "$.get_tumor_fastq_list_rows",
              "End": true
            }
          }
        },
        {
          "StartAt": "Get Portal Run Id and Workflow Run Name",
          "States": {
            "Get Portal Run Id and Workflow Run Name": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn": "${__sfn_preamble_state_machine_arn__}",
                "Input": {}
              },
              "End": true,
              "ResultSelector": {
                "portal_run_id.$": "$.Output.portal_run_id",
                "workflow_run_name.$": "$.Output.workflow_run_name"
              },
              "ResultPath": "$.get_portal_and_run_name_step"
            }
          }
        }
      ],
      "Next": "Generate RNA Payload inputs",
      "ResultSelector": {
        "tumor_fastq_list_rows.$": "$.[0].get_tumor_fastq_list_rows.tumor_fastq_list_rows",
        "tumor_fastq_list_row_ids.$": "$.[0].get_tumor_fastq_list_rows.tumor_fastq_list_row_ids",
        "portal_run_id.$": "$.[1].get_portal_and_run_name_step.portal_run_id",
        "workflow_run_name.$": "$.[1].get_portal_and_run_name_step.workflow_run_name"
      },
      "ResultPath": "$.get_parameters_step"
    },
    "Generate RNA Payload inputs": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Generate Draft Oncoanalyser RNA Event Data Payload",
          "States": {
            "Generate Draft Oncoanalyser RNA Event Data Payload": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${__generate_draft_event_payload_lambda_function_arn__}",
                "Payload": {
                  "tumor_library_id.$": "$.payload_data.library.libraryId",
                  "tumor_fastq_list_rows.$": "$.get_parameters_step.tumor_fastq_list_rows",
                  "tumor_fastq_list_row_ids.$": "$.get_parameters_step.tumor_fastq_list_row_ids",
                  "subject_id.$": "$.get_library_item_step.Item.subject_id.S"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "ResultPath": "$.generate_draft_event_payload_data_step",
              "ResultSelector": {
                "input_event_data.$": "$.Payload.input_event_data",
                "event_tags.$": "$.Payload.event_tags"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Get RNA Linked Libraries Object",
          "States": {
            "Get RNA Linked Libraries Object": {
              "Type": "Pass",
              "Parameters": {
                "linked_libraries": {
                  "orcabusId.$": "$.payload_data.library.orcabusId",
                  "libraryId.$": "$.payload_data.library.libraryId"
                }
              },
              "End": true
            }
          }
        }
      ],
      "ResultSelector": {
        "input_event_data.$": "$.[0].generate_draft_event_payload_data_step.input_event_data",
        "event_tags.$": "$.[0].generate_draft_event_payload_data_step.event_tags",
        "linked_libraries.$": "$.[1].linked_libraries"
      },
      "ResultPath": "$.generate_draft_event_payload_data_step",
      "Next": "Push Oncoanalyser Ready Event"
    },
    "Get Libraries From Subject": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:scan",
      "Parameters": {
        "TableName": "${__table_name__}",
        "ExpressionAttributeValues": {
          ":subject_orcabus_id": {
            "S.$": "$.get_library_item_step.Item.subject_orcabus_id.S"
          },
          ":id_type": {
            "S": "${__library_partition_name__}"
          }
        },
        "ExpressionAttributeNames": {
          "#subject_orcabus_id": "subject_orcabus_id",
          "#id_type": "id_type"
        },
        "FilterExpression": "#subject_orcabus_id = :subject_orcabus_id AND #id_type = :id_type"
      },
      "ResultSelector": {
        "library_set.$": "$.Items[*].id"
      },
      "ResultPath": "$.get_subject_library_set_step",
      "Next": "Collect All Libraries in Subject"
    },
    "Collect All Libraries in Subject": {
      "Type": "Map",
      "ItemsPath": "$.get_subject_library_set_step.library_set",
      "ItemSelector": {
        "library_orcabus_id.$": "$$.Map.Item.Value"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Get Library Map",
        "States": {
          "Get Library Map": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:getItem",
            "Parameters": {
              "TableName": "${__table_name__}",
              "Key": {
                "id.$": "$.library_orcabus_id",
                "id_type": "${__library_partition_name__}"
              }
            },
            "ResultPath": "$.get_library_map_step",
            "Next": "Library QC Complete"
          },
          "Library QC Complete": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.get_library_map_step.Item.qc_metrics_json",
                "IsPresent": true,
                "Comment": "Library Has QC Metrics",
                "Next": "Set Output"
              }
            ],
            "Default": "Set Output as Null"
          },
          "Set Output": {
            "Type": "Pass",
            "Parameters": {
              "output": {
                "library": {
                  "orcabus_id.$": "$.get_library_map_step.Item.id.S",
                  "library_id.$": "$.get_library_map_step.Item.library_id.S",
                  "phenotype.$": "$.get_library_map_step.Item.phenotype.S",
                  "workflow.$": "$.get_library_map_step.Item.workflow.S",
                  "type.$": "$.get_library_map_step.Item.type.S",
                  "assay.$": "$.get_library_map_step.Item.assay.S",
                  "subject_id.$": "$.get_library_map_step.Item.subject_id.S",
                  "subject_orcabus_id.$": "$.get_library_map_step.Item.subject_orcabus_id.S",
                  "fastq_list_row_id_set.$": "$.get_library_map_step.Item.fastq_list_row_id_set.SS"
                }
              }
            },
            "End": true
          },
          "Set Output as Null": {
            "Type": "Pass",
            "Parameters": {
              "output": {
                "library": null
              }
            },
            "End": true
          }
        }
      },
      "ResultSelector": {
        "complementary_library_obj_list.$": "$.[*].output.library"
      },
      "ResultPath": "$.get_complementary_libraries_step",
      "Next": "Find Complement Library Pair"
    },
    "Find Complement Library Pair": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__get_complement_library_pair_lambda_function_arn__}",
        "Payload": {
          "library_obj": {
            "orcabus_id.$": "$.payload_data.library.orcabusId",
            "library_id.$": "$.payload_data.library.libraryId",
            "phenotype.$": "$.get_library_item_step.Item.phenotype.S",
            "workflow.$": "$.get_library_item_step.Item.workflow.S",
            "type.$": "$.get_library_item_step.Item.type.S",
            "assay.$": "$.get_library_item_step.Item.assay.S",
            "subject_orcabus_id.$": "$.get_library_item_step.Item.subject_orcabus_id.S",
            "fastq_list_row_id_set.$": "$.get_library_item_step.Item.fastq_list_row_id_set.SS"
          },
          "complementary_library_obj_list.$": "$.get_complementary_libraries_step.complementary_library_obj_list"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "successful_pairing.$": "$.Payload.successful_pairing",
        "tumor_library.$": "$.Payload.tumor_library",
        "normal_library.$": "$.Payload.normal_library"
      },
      "ResultPath": "$.get_tn_pair_step",
      "Next": "Successful Pairing"
    },
    "Successful Pairing": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.get_tn_pair_step.successful_pairing",
          "BooleanEquals": true,
          "Next": "Collect WGS Parameters",
          "Comment": "Found Matching Pair"
        }
      ],
      "Default": "No Pair Found"
    },
    "Collect WGS Parameters": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get Fastq List Row Ids",
          "States": {
            "Get Fastq List Row Ids": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Get Tumor Fastq List Row Ids",
                  "States": {
                    "Get Tumor Fastq List Row Ids": {
                      "Type": "Map",
                      "ItemsPath": "$.get_tn_pair_step.tumor_library.fastq_list_row_id_set",
                      "ItemSelector": {
                        "fastq_list_row_id.$": "$$.Map.Item.Value"
                      },
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "Get Tumor Fastq List Row Item",
                        "States": {
                          "Get Tumor Fastq List Row Item": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::dynamodb:getItem",
                            "Parameters": {
                              "TableName": "${__table_name__}",
                              "Key": {
                                "id.$": "$.fastq_list_row_id",
                                "id_type": "${__fastq_list_row_partition_name__}"
                              }
                            },
                            "ResultSelector": {
                              "fastq_list_row_id.$": "$.Item.id.S",
                              "fastq_list_row_obj.$": "States.StringToJson($.Item.fastq_list_row_json.S)"
                            },
                            "ResultPath": "$.get_tumor_fastq_list_row_obj",
                            "End": true
                          }
                        }
                      },
                      "ResultSelector": {
                        "tumor_fastq_list_row_ids.$": "$.[*].get_tumor_fastq_list_row_obj.fastq_list_row_id",
                        "tumor_fastq_list_rows.$": "$.[*].get_tumor_fastq_list_row_obj.fastq_list_row_obj"
                      },
                      "ResultPath": "$.get_tumor_fastq_list_rows",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Get Normal Fastq List Row Ids",
                  "States": {
                    "Get Normal Fastq List Row Ids": {
                      "Type": "Map",
                      "ItemsPath": "$.get_tn_pair_step.normal_library.fastq_list_row_id_set",
                      "ItemSelector": {
                        "fastq_list_row_id.$": "$$.Map.Item.Value"
                      },
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "Get Normal Fastq List Row Item",
                        "States": {
                          "Get Normal Fastq List Row Item": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::dynamodb:getItem",
                            "Parameters": {
                              "TableName": "${__table_name__}",
                              "Key": {
                                "id.$": "$.fastq_list_row_id",
                                "id_type": "${__fastq_list_row_partition_name__}"
                              }
                            },
                            "ResultSelector": {
                              "fastq_list_row_id.$": "$.Item.id.S",
                              "fastq_list_row_obj.$": "States.StringToJson($.Item.fastq_list_row_json.S)"
                            },
                            "ResultPath": "$.get_normal_fastq_list_row_obj",
                            "End": true
                          }
                        }
                      },
                      "ResultSelector": {
                        "fastq_list_row_ids.$": "$.[*].get_normal_fastq_list_row_obj.fastq_list_row_id",
                        "fastq_list_rows.$": "$.[*].get_normal_fastq_list_row_obj.fastq_list_row_obj"
                      },
                      "ResultPath": "$.get_normal_fastq_list_rows",
                      "End": true
                    }
                  }
                }
              ],
              "ResultSelector": {
                "tumor_fastq_list_rows.$": "$.[0].get_tumor_fastq_list_rows.tumor_fastq_list_rows",
                "tumor_fastq_list_row_ids.$": "$.[0].get_tumor_fastq_list_rows.tumor_fastq_list_row_ids",
                "fastq_list_rows.$": "$.[1].get_normal_fastq_list_rows.fastq_list_rows",
                "fastq_list_row_ids.$": "$.[1].get_normal_fastq_list_rows.fastq_list_row_ids"
              },
              "ResultPath": "$.get_fastq_list_rows",
              "End": true
            }
          }
        },
        {
          "StartAt": "Get Portal Run Id and Workflow Run Name",
          "States": {
            "Get Portal Run Id and Workflow Run Name": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn": "${__sfn_preamble_state_machine_arn__}",
                "Input": {}
              },
              "End": true,
              "ResultSelector": {
                "portal_run_id.$": "$.Output.portal_run_id",
                "workflow_run_name.$": "$.Output.workflow_run_name"
              },
              "ResultPath": "$.get_portal_and_run_name_step"
            }
          }
        }
      ],
      "ResultSelector": {
        "tumor_fastq_list_rows.$": "$.[0].get_fastq_list_rows.tumor_fastq_list_rows",
        "tumor_fastq_list_row_ids.$": "$.[0].get_fastq_list_rows.tumor_fastq_list_row_ids",
        "fastq_list_rows.$": "$.[0].get_fastq_list_rows.fastq_list_rows",
        "fastq_list_row_ids.$": "$.[0].get_fastq_list_rows.fastq_list_row_ids",
        "portal_run_id.$": "$.[1].get_portal_and_run_name_step.portal_run_id",
        "workflow_run_name.$": "$.[1].get_portal_and_run_name_step.workflow_run_name"
      },
      "ResultPath": "$.get_parameters_step",
      "Next": "Generate DNA Payload Inputs"
    },
    "Generate DNA Payload Inputs": {
      "Type": "Parallel",
      "Next": "Push Oncoanalyser Ready Event",
      "Branches": [
        {
          "StartAt": "Generate Draft Oncoanalyser DNA Event Data Payload",
          "States": {
            "Generate Draft Oncoanalyser DNA Event Data Payload": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${__generate_draft_event_payload_lambda_function_arn__}",
                "Payload": {
                  "subject_id.$": "$.get_library_item_step.Item.subject_id.S",
                  "individual_id.$": "$.get_subject_obj_step.individual_id",
                  "tumor_library_id.$": "$.get_tn_pair_step.tumor_library.library_id",
                  "normal_library_id.$": "$.get_tn_pair_step.normal_library.library_id",
                  "tumor_fastq_list_rows.$": "$.get_parameters_step.tumor_fastq_list_rows",
                  "tumor_fastq_list_row_ids.$": "$.get_parameters_step.tumor_fastq_list_row_ids",
                  "fastq_list_rows.$": "$.get_parameters_step.fastq_list_rows",
                  "fastq_list_row_ids.$": "$.get_parameters_step.fastq_list_row_ids"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "ResultPath": "$.generate_draft_event_payload_data_step",
              "ResultSelector": {
                "input_event_data.$": "$.Payload.input_event_data",
                "event_tags.$": "$.Payload.event_tags"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Get DNA Linked Libraries Object",
          "States": {
            "Get DNA Linked Libraries Object": {
              "Type": "Pass",
              "Parameters": {
                "linked_libraries": [
                  {
                    "libraryId.$": "$.get_tn_pair_step.tumor_library.library_id",
                    "orcabusId.$": "$.get_tn_pair_step.tumor_library.orcabus_id"
                  },
                  {
                    "libraryId.$": "$.get_tn_pair_step.normal_library.library_id",
                    "orcabusId.$": "$.get_tn_pair_step.normal_library.orcabus_id"
                  }
                ]
              },
              "End": true
            }
          }
        }
      ],
      "ResultSelector": {
        "input_event_data.$": "$.[0].generate_draft_event_payload_data_step.input_event_data",
        "event_tags.$": "$.[0].generate_draft_event_payload_data_step.event_tags",
        "linked_libraries.$": "$.[1].linked_libraries"
      },
      "ResultPath": "$.generate_draft_event_payload_data_step"
    },
    "Push Oncoanalyser Ready Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${__launch_ready_event_sfn_arn__}",
        "Input": {
          "StatePayload": {
            "portal_run_id.$": "$.get_parameters_step.portal_run_id",
            "workflow_run_name.$": "$.get_parameters_step.workflow_run_name",
            "linked_libraries": "$.generate_draft_event_payload_data_step.linked_libraries",
            "data_inputs.$": "$.generate_draft_event_payload_data_step.input_event_data",
            "data_tags.$": "$.generate_draft_event_payload_data_step.event_tags"
          }
        }
      },
      "ResultPath": null,
      "End": true
    },
    "No Pair Found": {
      "Type": "Pass",
      "End": true
    },
    "Not a WGTS library": {
      "Type": "Pass",
      "End": true
    }
  }
}
