lib/workload/stateless/stacks/bclconvert-interop-qc-pipeline-manager/step_functions_templates/set_bclconvert_interop_qc_cwl_inputs_sfn.asl.json
{
  "Comment": "Launch Icav2 Pipeline and log in db",
  "StartAt": "Get DataBase Entry",
  "States": {
    "Get DataBase Entry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.portal_run_id",
          "id_type": "portal_run_id"
        }
      },
      "ResultSelector": {
        "inputs.$": "States.StringToJson($.Item.ready_event_data_inputs.S)",
        "engine_parameters.$": "States.StringToJson($.Item.engine_parameters.S)"
      },
      "ResultPath": "$.get_input_parameters_from_event",
      "Next": "Set Input Json from Event Payload"
    },
    "Set Input Json from Event Payload": {
      "Type": "Pass",
      "Parameters": {
        "input_json": {
          "bclconvert_report_directory": {
            "class": "Directory",
            "location.$": "$.get_input_parameters_from_event.inputs.bclconvertReportDirectory"
          },
          "interop_directory": {
            "class": "Directory",
            "location.$": "$.get_input_parameters_from_event.inputs.interopDirectory"
          },
          "instrument_run_id.$": "$.get_input_parameters_from_event.inputs.instrumentRunId"
        }
      },
      "ResultPath": "$.set_input_json",
      "Next": "Update Database Entry"
    },
    "Update Database Entry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.portal_run_id",
          "id_type": "portal_run_id"
        },
        "UpdateExpression": "SET input_json = :input_json",
        "ExpressionAttributeValues": {
          ":input_json": {
            "S.$": "States.JsonToString($.set_input_json.input_json)"
          }
        }
      },
      "ResultPath": "$.update_entry_post_launch_step",
      "Next": "Wait 1 Second (Pre-execution)"
    },
    "Wait 1 Second (Pre-execution)": {
      "Type": "Wait",
      "Seconds": 1,
      "Comment": "Wait for databases to sync before continuing",
      "End": true
    }
  }
}
