lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/clag/part_1/samplesheet-event-shower/step_functions_templates/shower_from_fastq_glue_event_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Get library objects in run",
  "States": {
    "Get library objects in run": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__get_library_objects_in_run_lambda_function_arn__}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Start SampleSheet Shower"
    },
    "Start SampleSheet Shower": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": {
              "Message": "Hello from Step Functions!",
              "TaskToken": "{% $states.context.Task.Token %}"
            },
            "DetailType": "MyDetailType",
            "EventBusName": "MyEventBusName",
            "Source": "MySource"
          }
        ]
      },
      "Next": "For each library id (batched)"
    },
    "For each library id (batched)": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Get Objects",
        "States": {
          "Get Objects": {
            "Type": "Parallel",
            "Branches": [
              {
                "StartAt": "Get library bclconvert data in samplesheet",
                "States": {
                  "Get library bclconvert data in samplesheet": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": "{% $states.result.Payload %}",
                    "Arguments": {
                      "FunctionName": "",
                      "Payload": "{% $states.input %}"
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true
                  }
                }
              },
              {
                "StartAt": "Get libraries in fastq manager",
                "States": {
                  "Get libraries in fastq manager": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": "{% $states.result.Payload %}",
                    "Arguments": {
                      "FunctionName": "",
                      "Payload": "{% $states.input %}"
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true
                  }
                }
              }
            ],
            "Next": "For each library event object"
          },
          "For each library event object": {
            "Type": "Map",
            "ItemProcessor": {
              "ProcessorConfig": {
                "Mode": "INLINE"
              },
              "StartAt": "Put Library Event",
              "States": {
                "Put Library Event": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::events:putEvents",
                  "Arguments": {
                    "Entries": [
                      {
                        "Detail": {
                          "Message": "Hello from Step Functions!",
                          "TaskToken": "{% $states.context.Task.Token %}"
                        },
                        "DetailType": "MyDetailType",
                        "EventBusName": "MyEventBusName",
                        "Source": "MySource"
                      }
                    ]
                  },
                  "End": true
                }
              }
            },
            "End": true
          }
        }
      },
      "Items": "",
      "Next": "End SampleSheet Shower"
    },
    "End SampleSheet Shower": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": {
              "Message": "Hello from Step Functions!",
              "TaskToken": "{% $states.context.Task.Token %}"
            },
            "DetailType": "MyDetailType",
            "EventBusName": "MyEventBusName",
            "Source": "MySource"
          }
        ]
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
