lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/kwik/part_5/wgts-qc-draft-to-ready/step_function_templates/generate_wgts_qc_ready_event.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Move inputs",
  "States": {
    "Move inputs": {
      "Type": "Pass",
      "Parameters": {
        "inputs.$": "$"
      },
      "Next": "Get event data from ref db (Local)"
    },
    "Get event data from ref db (Local)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.inputs.db_uuid",
          "id_type": "${__input_maker_type__}"
        }
      },
      "ResultSelector": {
        "event_data_input.$": "States.StringToJson($.Item.event_data_input.S)"
      },
      "ResultPath": "$.get_event_detail_payload_data_from_db_step",
      "Next": "Get Parameter Steps"
    },
    "Get Parameter Steps": {
      "Type": "Parallel",
      "Next": "Generate inputs for wgts qc",
      "Branches": [
        {
          "StartAt": "Get CacheURI For wgts qc analysis",
          "States": {
            "Get CacheURI For wgts qc analysis": {
              "Type": "Task",
              "Parameters": {
                "Name": "${__analysis_cache_uri_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "ResultSelector": {
                "cache_uri.$": "$.Parameter.Value"
              },
              "ResultPath": "$.get_cache_uri_step"
            }
          }
        },
        {
          "StartAt": "Get OutputUri for wgts Qc Analysis",
          "States": {
            "Get OutputUri for wgts Qc Analysis": {
              "Type": "Task",
              "Parameters": {
                "Name": "${__analysis_output_uri_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "ResultSelector": {
                "output_uri.$": "$.Parameter.Value"
              },
              "ResultPath": "$.get_output_uri_parameter_step",
              "End": true
            }
          }
        },
        {
          "StartAt": "Get Project ID and Name for wgts qc analysis",
          "States": {
            "Get Project ID and Name for wgts qc analysis": {
              "Type": "Task",
              "Parameters": {
                "Name": "${__icav2_project_id_and_name_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "ResultSelector": {
                "project.$": "States.StringToJson($.Parameter.Value)"
              },
              "ResultPath": "$.get_project_id_and_name_parameter_step",
              "End": true
            }
          }
        },
        {
          "StartAt": "Get LogsUri for wgts Qc Analysis",
          "States": {
            "Get LogsUri for wgts Qc Analysis": {
              "Type": "Task",
              "Parameters": {
                "Name": "${__analysis_logs_uri_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "ResultPath": "$.get_logs_uri_parameter_step",
              "ResultSelector": {
                "logs_uri.$": "$.Parameter.Value"
              }
            }
          }
        },
        {
          "StartAt": "Is Annotation Version",
          "States": {
            "Is Annotation Version": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.get_event_detail_payload_data_from_db_step.event_data_input.annotationVersion",
                  "IsPresent": false,
                  "Next": "Set to null",
                  "Comment": "Annotation Version not set"
                }
              ],
              "Default": "Set as in payload"
            },
            "Set to null": {
              "Type": "Pass",
              "End": true,
              "Parameters": {
                "annotation_version": null
              },
              "ResultPath": "$.set_annotation_version_step"
            },
            "Set as in payload": {
              "Type": "Pass",
              "End": true,
              "Parameters": {
                "annotation_version.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.annotationVersion"
              },
              "ResultPath": "$.set_annotation_version_step"
            }
          }
        }
      ],
      "ResultPath": "$.get_ssm_parameters_steps",
      "ResultSelector": {
        "cache_uri.$": "$.[0].get_cache_uri_step.cache_uri",
        "output_uri.$": "$.[1].get_output_uri_parameter_step.output_uri",
        "project_id.$": "$.[2].get_project_id_and_name_parameter_step.project.project_id",
        "project_name.$": "$.[2].get_project_id_and_name_parameter_step.project.project_name",
        "logs_uri.$": "$.[3].get_logs_uri_parameter_step.logs_uri",
        "annotation_version.$": "$.[4].set_annotation_version_step.annotation_version"
      }
    },
    "Generate inputs for wgts qc": {
      "Type": "Pass",
      "Parameters": {
        "projectId.$": "$.get_ssm_parameters_steps.project_id",
        "outputFilePrefix.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.outputFilePrefix",
        "outputDirectoryName.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.outputDirectoryName",
        "referenceVersion.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.referenceVersion",
        "sampleType.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.sampleType",
        "fastqListRowId.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.fastqListRowId",
        "annotationVersion.$": "$.get_ssm_parameters_steps.annotation_version",
        "fastqListRow.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.fastqListRow",
        "cacheUri.$": "$.get_ssm_parameters_steps.cache_uri",
        "analysisOutputUri.$": "$.get_ssm_parameters_steps.output_uri",
        "icaLogsUri.$": "$.get_ssm_parameters_steps.logs_uri",
        "userTags": {
          "instrument_run_id.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.instrumentRunId",
          "fastq_list_row_id.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.fastqListRowId",
          "project_name.$": "$.get_ssm_parameters_steps.project_name"
        }
      },
      "ResultPath": "$.set_event_data_output",
      "Next": "Add event data outputs (local)"
    },
    "Add event data outputs (local)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.inputs.db_uuid",
          "id_type": "${__input_maker_type__}"
        },
        "UpdateExpression": "SET event_data_output = :event_data_output",
        "ExpressionAttributeValues": {
          ":event_data_output": {
            "S.$": "States.JsonToString($.set_event_data_output)"
          }
        }
      },
      "Next": "Wait 1 Second"
    },
    "Wait 1 Second": {
      "Type": "Wait",
      "Seconds": 1,
      "End": true
    }
  }
}
