lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/jb-weld/part_3/populate-fastq-list-row-dbs/step_function_templates/update_fastq_list_row_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Get Event Data",
  "States": {
    "Get Event Data": {
      "Type": "Pass",
      "Next": "DynamoDB GetItem",
      "Parameters": {
        "fastq_list_row_event_data": "$.payload.data.fastqListRow",
        "instrument_run_id": "$.payload.data.instrumentRunId"
      }
    },
    "DynamoDB GetItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.fastq_list_row_event_data.rgid",
          "id_type": "${__fastq_list_row_partition_name__}"
        }
      },
      "Next": "Check if Fastq List Row is in the DB"
    },
    "Check if Fastq List Row is in the DB": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.get_rgid_item_test.Item",
          "IsPresent": true,
          "Next": "Update Fastq List Row"
        }
      ],
      "Default": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    },
    "Update Fastq List Row": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.fastq_list_row_event_data.rgid",
          "id_type": "${__fastq_list_row_partition_name__}"
        },
        "UpdateExpression": "SET fastq_list_row_json = :fastq_list_row_json",
        "ExpressionAttributeValues": {
          ":fastq_list_row_json": {
            "S.$": "States.StringToJson($.fastq_list_row_event_data.rgid)"
          }
        }
      },
      "End": true
    }
  }
}
