lib/workload/stateless/stacks/icav2-data-copy-manager/step_functions_templates/send_task_token.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "A description of my state machine",
  "StartAt": "Wait 5",
  "States": {
    "Wait 5": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Get Inputs from Payload"
    },
    "Get Inputs from Payload": {
      "Type": "Pass",
      "Next": "Get Job ID from DB",
      "Assign": {
        "job_id": "{% $states.input.id %}",
        "status": "{% $states.input.status %}"
      }
    },
    "Get Job ID from DB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Arguments": {
        "TableName": "${__table_name__}",
        "Key": {
          "id": "{% $job_id %}",
          "id_type": "${__job_id_table_partition_name__}"
        }
      },
      "Next": "Job ID in DB",
      "Assign": {
        "job_id_in_db": "{% $states.result.Item != null ? true : false %}",
        "task_token": "{% $states.result.Item != null ? $states.result.Item.task_token.S : null %}"
      }
    },
    "Job ID in DB": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Job Status",
          "Condition": "{% $job_id_in_db %}",
          "Comment": "Job ID in DataBase"
        }
      ],
      "Default": "Not in DB"
    },
    "Job Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Send Task Success",
          "Condition": "{% $status = 'SUCCEEDED' %}",
          "Comment": "Job Succeeded"
        },
        {
          "Next": "Non-Terminal Status",
          "Condition": "{% $status in ['INITIALIZED','WAITING_FOR_RESOURCES', 'RUNNING'] %}",
          "Comment": "Job Still Running"
        }
      ],
      "Default": "Send Task Failure"
    },
    "Send Task Success": {
      "Type": "Task",
      "Arguments": {
        "Output": {
          "jobId": "{% $job_id %}",
          "status": "{% $status %}"
        },
        "TaskToken": "{% $task_token %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
      "Next": "Delete Job ID from Database"
    },
    "Delete Job ID from Database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Arguments": {
        "TableName": "${__table_name__}",
        "Key": {
          "id": "{% $job_id %}",
          "id_type": "${__job_id_table_partition_name__}"
        }
      },
      "End": true
    },
    "Send Task Failure": {
      "Type": "Task",
      "Arguments": {
        "Output": {
          "jobId": "{% $job_id %}",
          "status": "{% $status %}"
        },
        "TaskToken": "{% $task_token %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskFailure",
      "Next": "Delete Job ID from Database"
    },
    "Not in DB": {
      "Type": "Succeed"
    },
    "Non-Terminal Status": {
      "Type": "Succeed"
    }
  }
}
