lib/workload/components/event-workflowmanager-workflowrunstatechange-parse-external-event-detail/step_function_templates/parse_external_event.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Move inputs",
  "States": {
    "Move inputs": {
      "Type": "Pass",
      "Next": "Generate DB Uuid",
      "Parameters": {
        "event_detail_input.$": "$"
      }
    },
    "Generate DB Uuid": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${__generate_ref_uuid_lambda_function_arn__}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Save input events to DB (local)",
      "ResultSelector": {
        "uuid.$": "$.Payload.uuid"
      },
      "ResultPath": "$.generate_db_uuid_step"
    },
    "Save input events to DB (local)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Item": {
          "id.$": "$.generate_db_uuid_step.uuid",
          "id_type": "${__id_type__}",
          "event_detail_input": {
            "M.$": "$.event_detail_input"
          }
        }
      },
      "Next": "Translate internal event"
    },
    "Translate internal event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__translate_event_lambda_function_arn__}",
        "Payload": {
          "uuid.$": "$.generate_db_uuid_step.uuid",
          "event_detail_input.$": "$.event_detail_input"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Save output events to DB (local)",
      "ResultSelector": {
        "event_detail_output.$": "$.Payload"
      },
      "ResultPath": "$.translate_event_step"
    },
    "Save output events to DB (local)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.generate_db_uuid_step.uuid",
          "id_type": "${__id_type__}"
        },
        "UpdateExpression": "SET event_detail_output = :event_detail_output",
        "ExpressionAttributeValues": {
          ":event_detail_output": {
            "M.$": "$.translate_event_step.event_detail_output"
          }
        }
      },
      "Next": "Wait 1 Second"
    },
    "Wait 1 Second": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Push Complete Internal Event"
    },
    "Push Complete Internal Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "$.translate_event_step.event_detail_output.detail",
            "DetailType": "${__detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__output_source__}"
          }
        ]
      },
      "End": true
    }
  }
}
