lib/workload/stateless/stacks/ora-compression-manager/step_functions_templates/set_compression_outputs.asl.json
{
  "Comment": "Get CWL Outputs from BCLConvert InterOp QC pipeline",
  "StartAt": "Get DB Attributes",
  "States": {
    "Get DB Attributes": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.portal_run_id",
          "id_type": "portal_run_id"
        }
      },
      "ResultSelector": {
        "ready_event_data_inputs.$": "States.StringToJson($.Item.ready_event_data_inputs.S)",
        "analysis_output_uri.$": "$.Item.analysis_output_uri.S"
      },
      "ResultPath": "$.get_db_attributes_step",
      "Next": "Set outputs from analysis uri"
    },
    "Set outputs from analysis uri": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__set_outputs_json_lambda_function_arn__}",
        "Payload": {
          "instrument_run_id.$": "$.get_db_attributes_step.ready_event_data_inputs.instrumentRunId",
          "analysis_output_uri.$": "$.get_db_attributes_step.analysis_output_uri"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "TimeoutSeconds": 60,
      "ResultSelector": {
        "output_json": {
          "instrumentRunOraOutputUri.$": "$.Payload.instrument_run_ora_output_uri"
        }
      },
      "ResultPath": "$.analysis_outputs_step",
      "Next": "Update analysisOutput column in DB"
    },
    "Update analysisOutput column in DB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.portal_run_id",
          "id_type": "portal_run_id"
        },
        "UpdateExpression": "SET analysis_output = :output_json",
        "ExpressionAttributeValues": {
          ":output_json": {
            "S.$": "States.JsonToString($.analysis_outputs_step.output_json)"
          }
        }
      },
      "ResultPath": "$.update_entry_post_launch_step",
      "Next": "Wait 1 Second (Post-update)"
    },
    "Wait 1 Second (Post-update)": {
      "Type": "Wait",
      "Seconds": 1,
      "Comment": "Wait for databases to sync before continuing",
      "End": true
    }
  }
}
