lib/workload/components/dynamodb-icav2-ready-event-handler-sfn/step_functions_templates/icav2_launch_workflow_and_raise_internal_event.asl.json
{
  "Comment": "ICAv2 Ready Event Handler",
  "StartAt": "Move Inputs",
  "States": {
    "Move Inputs": {
      "Type": "Pass",
      "Next": "Find Portal Run Id in Database",
      "Parameters": {
        "workflow_inputs.$": "$"
      },
      "Comment": "Workflow inputs will be dependent on the icav2 end point we are executing"
    },
    "Find Portal Run Id in Database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id": {
            "S.$": "$.workflow_inputs.portalRunId"
          },
          "id_type": {
            "S": "portal_run_id"
          }
        }
      },
      "Next": "Is Portal Run ID in Database",
      "ResultPath": "$.portal_run_id_in_db_step",
      "ResultSelector": {
        "db_response.$": "$"
      }
    },
    "Is Portal Run ID in Database": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.portal_run_id_in_db_step.db_response.Item",
            "IsPresent": true
          },
          "Next": "Add Technical Tags"
        }
      ],
      "Default": "Get Push Event Info From DB"
    },
    "Add Technical Tags": {
      "Type": "Pass",
      "Parameters": {
        "technical_tags": {
          "portal_run_id.$": "$.workflow_inputs.portalRunId",
          "step_functions_execution_arn.$": "$$.Execution.Id",
          "analysis_output_uri.$": "$.workflow_inputs.payload.data.engineParameters.outputUri"
        }
      },
      "ResultPath": "$.add_technical_tags_step",
      "Next": "Add Payload and Run items to database"
    },
    "Add Payload and Run items to database": {
      "Type": "Parallel",
      "Next": "Wait 1 Second (pre-input-generation)",
      "Branches": [
        {
          "StartAt": "Initialise Portal Run Id Item",
          "States": {
            "Initialise Portal Run Id Item": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Item": {
                  "id.$": "$.workflow_inputs.portalRunId",
                  "id_type": "portal_run_id",
                  "workflow_run_name": {
                    "S.$": "$.workflow_inputs.workflowRunName"
                  },
                  "linked_libraries": {
                    "S.$": "States.JsonToString($.workflow_inputs.linkedLibraries)"
                  },
                  "workflow_version": {
                    "S.$": "$.workflow_inputs.workflowVersion"
                  },
                  "ready_event_payload": {
                    "S.$": "States.JsonToString($.workflow_inputs.payload)"
                  },
                  "ready_event_data_inputs": {
                    "S.$": "States.JsonToString($.workflow_inputs.payload.data.inputs)"
                  },
                  "ready_event_data_engine_parameters": {
                    "S.$": "States.JsonToString($.workflow_inputs.payload.data.engineParameters)"
                  },
                  "engine_parameters": {
                    "S.$": "States.JsonToString($.workflow_inputs.payload.data.engineParameters)"
                  },
                  "state_machine_execution_arn": {
                    "S.$": "$$.Execution.Id"
                  },
                  "analysis_status": {
                    "S": "PRE_LAUNCH"
                  },
                  "analysis_id": {
                    "S": ""
                  },
                  "project_id": {
                    "S.$": "$.workflow_inputs.payload.data.engineParameters.projectId"
                  },
                  "analysis_return_payload": {
                    "S": ""
                  },
                  "analysis_launch_payload": {
                    "S": ""
                  },
                  "analysis_output_uri": {
                    "S.$": "$.workflow_inputs.payload.data.engineParameters.outputUri"
                  },
                  "ica_logs_uri": {
                    "S.$": "$.workflow_inputs.payload.data.engineParameters.logsUri"
                  },
                  "analysis_output": {
                    "S": "{}"
                  },
                  "analysis_technical_tags": {
                    "S.$": "States.JsonToString($.add_technical_tags_step.technical_tags)"
                  },
                  "tags": {
                    "S.$": "States.JsonToString($.workflow_inputs.payload.data.tags)"
                  }
                }
              },
              "ResultPath": "$.dynamo_db_put_item_step",
              "End": true
            }
          }
        },
        {
          "StartAt": "Put Workflow Run Name Key Item",
          "States": {
            "Put Workflow Run Name Key Item": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Item": {
                  "id.$": "$.workflow_inputs.workflowRunName",
                  "id_type": "workflow_run_name",
                  "portal_run_id": {
                    "S.$": "$.workflow_inputs.portalRunId"
                  }
                }
              },
              "End": true,
              "ResultPath": "$.dynamo_db_put_item_step"
            }
          }
        },
        {
          "StartAt": "Add Event Logger Item",
          "States": {
            "Add Event Logger Item": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Item": {
                  "id.$": "$.workflow_inputs.portalRunId",
                  "id_type": "event_logger",
                  "portal_run_id": {
                    "S.$": "$.workflow_inputs.portalRunId"
                  },
                  "event_timestamp_list": {
                    "L": [
                      {
                        "S.$": "$$.State.EnteredTime"
                      }
                    ]
                  },
                  "analysis_status_list": {
                    "L": [
                      {
                        "S": "PRE_LAUNCH"
                      }
                    ]
                  }
                }
              },
              "ResultPath": "$.dynamo_db_put_item_step",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.add_items_in_parallel_step"
    },
    "Wait 1 Second (pre-input-generation)": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Set Inputs (Parallel)"
    },
    "Set Inputs (Parallel)": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Set Input Json Sfn (and User Tags)",
          "States": {
            "Set Input Json Sfn (and User Tags)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn": "${__set_input_json_state_machine_arn__}",
                "Input": {
                  "portal_run_id.$": "$.workflow_inputs.portalRunId"
                }
              },
              "ResultPath": null,
              "End": true
            }
          }
        },
        {
          "StartAt": "Pipeline ID in Event Payload",
          "States": {
            "Pipeline ID in Event Payload": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.workflow_inputs.payload.data.engineParameters.pipelineId",
                  "IsPresent": true,
                  "Next": "Skip Get Parameter"
                }
              ],
              "Default": "GetPipelineIdSsmParameter"
            },
            "Skip Get Parameter": {
              "Type": "Pass",
              "Parameters": {
                "pipeline_id.$": "$.workflow_inputs.payload.data.engineParameters.pipelineId"
              },
              "ResultPath": "$.pipeline_id_var",
              "Next": "DynamoDB UpdatePipelineId and Engine Parameters"
            },
            "GetPipelineIdSsmParameter": {
              "Type": "Task",
              "Parameters": {
                "Name": "${__pipeline_id_ssm_path__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "ResultSelector": {
                "pipeline_id.$": "$.Parameter.Value"
              },
              "ResultPath": "$.pipeline_id_var",
              "Next": "DynamoDB UpdatePipelineId and Engine Parameters"
            },
            "DynamoDB UpdatePipelineId and Engine Parameters": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Key": {
                  "id.$": "$.workflow_inputs.portalRunId",
                  "id_type": "portal_run_id"
                },
                "UpdateExpression": "SET analysis_pipeline_id = :analysis_pipeline_id, engine_parameters = :engine_parameters",
                "ExpressionAttributeValues": {
                  ":analysis_pipeline_id": {
                    "S.$": "$.pipeline_id_var.pipeline_id"
                  },
                  ":engine_parameters": {
                    "S.$": "States.JsonToString(States.JsonMerge($.workflow_inputs.payload.data.engineParameters, States.StringToJson(States.Format('\\{\"{}\":\"{}\"\\}', 'pipelineId', $.pipeline_id_var.pipeline_id)), false))"
                  }
                }
              },
              "ResultPath": "$.update_item_step",
              "End": true
            }
          }
        }
      ],
      "ResultPath": null,
      "Next": "Wait 1 Second (pre-execution)"
    },
    "Wait 1 Second (pre-execution)": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Launch Pipeline"
    },
    "Launch Pipeline": {
      "Type": "Parallel",
      "Next": "Wait 1 Second (Post-execution)",
      "Branches": [
        {
          "StartAt": "Get Database Entry for execution",
          "States": {
            "Get Database Entry for execution": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:getItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Key": {
                  "id.$": "$.workflow_inputs.portalRunId",
                  "id_type": "portal_run_id"
                }
              },
              "ResultSelector": {
                "engine_parameters.$": "States.StringToJson($.Item.engine_parameters.S)",
                "input_json.$": "$.Item.input_json.S",
                "pipeline_id.$": "$.Item.analysis_pipeline_id.S",
                "tags.$": "States.StringToJson($.Item.tags.S)"
              },
              "ResultPath": "$.get_input_parameters_from_event",
              "Next": "Get Parameters for Launch Payload"
            },
            "Get Parameters for Launch Payload": {
              "Type": "Pass",
              "Parameters": {
                "project_id.$": "$.get_input_parameters_from_event.engine_parameters.projectId",
                "pipeline_id.$": "$.get_input_parameters_from_event.pipeline_id",
                "input_json.$": "$.get_input_parameters_from_event.input_json",
                "analysis_output_uri.$": "$.get_input_parameters_from_event.engine_parameters.outputUri",
                "ica_logs_uri.$": "$.get_input_parameters_from_event.engine_parameters.logsUri",
                "user_tags.$": "$.get_input_parameters_from_event.tags"
              },
              "ResultPath": "$.get_parameters_from_payload",
              "Next": "Launch ICAv2 Pipeline Lambda Function"
            },
            "Launch ICAv2 Pipeline Lambda Function": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "Payload": {
                  "project_id.$": "$.get_parameters_from_payload.project_id",
                  "pipeline_id.$": "$.get_parameters_from_payload.pipeline_id",
                  "workflow_type": "${__workflow_platform_type__}",
                  "user_reference.$": "$.workflow_inputs.workflowRunName",
                  "input_json.$": "$.get_parameters_from_payload.input_json",
                  "analysis_output_uri.$": "$.get_parameters_from_payload.analysis_output_uri",
                  "ica_logs_uri.$": "$.get_parameters_from_payload.ica_logs_uri",
                  "technical_tags.$": "$.add_technical_tags_step.technical_tags",
                  "user_tags.$": "$.get_parameters_from_payload.user_tags",
                  "idempotency_key.$": "$.workflow_inputs.portalRunId"
                },
                "FunctionName": "${__launch_icav2_pipeline_lambda_function_name__}"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "TimeoutSeconds": 300,
              "ResultSelector": {
                "analysis_id.$": "$.Payload.analysis_id",
                "analysis_status.$": "$.Payload.analysis_status",
                "analysis_return_payload.$": "$.Payload.analysis_return_payload",
                "analysis_launch_payload.$": "$.Payload.analysis_launch_payload"
              },
              "ResultPath": "$.launch_nextflow_object_step",
              "Next": "Update DataBase Post Launch"
            },
            "Update DataBase Post Launch": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Update Portal Run ID Item",
                  "States": {
                    "Update Portal Run ID Item": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::dynamodb:updateItem",
                      "Parameters": {
                        "TableName": "${__table_name__}",
                        "Key": {
                          "id.$": "$.workflow_inputs.portalRunId",
                          "id_type": "portal_run_id"
                        },
                        "UpdateExpression": "SET analysis_id = :analysis_id, analysis_status = :analysis_status, analysis_return_payload = :analysis_return_payload, analysis_launch_payload = :analysis_launch_payload, engine_parameters = :engine_parameters",
                        "ExpressionAttributeValues": {
                          ":analysis_id": {
                            "S.$": "$.launch_nextflow_object_step.analysis_id"
                          },
                          ":analysis_status": {
                            "S.$": "$.launch_nextflow_object_step.analysis_status"
                          },
                          ":analysis_return_payload": {
                            "S.$": "States.JsonToString($.launch_nextflow_object_step.analysis_return_payload)"
                          },
                          ":analysis_launch_payload": {
                            "S.$": "States.JsonToString($.launch_nextflow_object_step.analysis_launch_payload)"
                          },
                          ":engine_parameters": {
                            "S.$": "States.JsonToString(States.JsonMerge($.get_input_parameters_from_event.engine_parameters, States.StringToJson(States.Format('\\{\"{}\":\"{}\"\\}', 'analysisId', $.launch_nextflow_object_step.analysis_id)), false))"
                          }
                        }
                      },
                      "ResultPath": null,
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Add Icav2 ID Partition Entry",
                  "States": {
                    "Add Icav2 ID Partition Entry": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::dynamodb:putItem",
                      "Parameters": {
                        "TableName": "${__table_name__}",
                        "Item": {
                          "id.$": "$.launch_nextflow_object_step.analysis_id",
                          "id_type": "icav2_analysis_id",
                          "portal_run_id": {
                            "S.$": "$.workflow_inputs.portalRunId"
                          }
                        }
                      },
                      "ResultPath": "$.dynamo_db_put_item_step",
                      "End": true
                    }
                  }
                }
              ],
              "ResultPath": null,
              "End": true
            }
          }
        },
        {
          "StartAt": "Placeholder",
          "States": {
            "Placeholder": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "ResultPath": null
    },
    "Wait 1 Second (Post-execution)": {
      "Type": "Wait",
      "Seconds": 1,
      "Comment": "Wait for databases to sync before continuing",
      "Next": "Get Push Event Info From DB"
    },
    "Get Push Event Info From DB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.workflow_inputs.portalRunId",
          "id_type": "portal_run_id"
        }
      },
      "Next": "Push event to orcabus",
      "ResultSelector": {
        "portalRunId.$": "$.Item.id.S",
        "timestamp.$": "$$.State.EnteredTime",
        "status.$": "$.Item.analysis_status.S",
        "workflowName": "${__workflow_type__}",
        "workflowVersion": "${__workflow_version__}",
        "workflowRunName.$": "$.Item.workflow_run_name.S",
        "linkedLibraries.$": "States.StringToJson($.Item.linked_libraries.S)",
        "payload": {
          "version": "${__service_version__}",
          "data": {
            "inputs.$": "States.StringToJson($.Item.ready_event_data_inputs.S)",
            "engineParameters.$": "States.StringToJson($.Item.engine_parameters.S)",
            "tags.$": "States.StringToJson($.Item.tags.S)"
          }
        }
      }
    },
    "Push event to orcabus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "$",
            "DetailType": "${__detail_type__}",
            "EventBusName": "${__eventbus_name__}",
            "Source": "${__event_source__}",
            "Resources": []
          }
        ]
      },
      "ResultPath": null,
      "End": true
    }
  }
}
