lib/workload/components/dynamodb-icav2-ready-event-handler-sfn/step_functions_templates/icav2_launch_workflow_and_raise_internal_event.asl.json
{
  "Comment": "Move inputs to workflow_inputs",
  "StartAt": "move_inputs",
  "States": {
    "move_inputs": {
      "Type": "Pass",
      "Next": "check_portal_run_id_in_db",
      "Parameters": {
        "workflow_inputs.$": "$"
      },
      "Comment": "Workflow inputs will be dependent on the icav2 end point we are executing"
    },
    "check_portal_run_id_in_db": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id": {
            "S.$": "$.workflow_inputs.portalRunId"
          },
          "id_type": {
            "S": "portal_run_id"
          }
        }
      },
      "Next": "is_portal_run_id_in_db",
      "ResultPath": "$.portal_run_id_in_db_step",
      "ResultSelector": {
        "db_response.$": "$"
      }
    },
    "is_portal_run_id_in_db": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.portal_run_id_in_db_step.db_response.Item",
            "IsPresent": true
          },
          "Next": "generate_db_uuid"
        }
      ],
      "Default": "Get PortalRunId DataBase Entry"
    },
    "generate_db_uuid": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__generate_db_uuid_lambda_function_arn__}",
        "Payload": {}
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "db_uuid.$": "$.Payload.db_uuid"
      },
      "ResultPath": "$.create_db_uuid_step",
      "Next": "add_technical_tags"
    },
    "add_technical_tags": {
      "Type": "Pass",
      "Parameters": {
        "technical_tags": {
          "portal_run_id.$": "$.workflow_inputs.portalRunId",
          "step_functions_execution_arn.$": "$$.Execution.Id"
        }
      },
      "ResultPath": "$.add_technical_tags_step",
      "Next": "Add items to database"
    },
    "Add items to database": {
      "Type": "Parallel",
      "Next": "Wait 1 Second (pre-input-generation)",
      "Branches": [
        {
          "StartAt": "initialise_db_item",
          "States": {
            "initialise_db_item": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Item": {
                  "id.$": "$.create_db_uuid_step.db_uuid",
                  "id_type": "db_uuid",
                  "portal_run_id": {
                    "S.$": "$.workflow_inputs.portalRunId"
                  },
                  "launch_event_payload": {
                    "S.$": "States.JsonToString($.workflow_inputs.payload)"
                  },
                  "state_machine_execution_arn": {
                    "S.$": "$$.Execution.Id"
                  },
                  "analysis_status": {
                    "S": "PRE_LAUNCH"
                  },
                  "analysis_id": {
                    "S": ""
                  },
                  "analysis_return_payload": {
                    "S": ""
                  },
                  "analysis_launch_payload": {
                    "S": ""
                  },
                  "analysis_technical_tags": {
                    "S.$": "States.JsonToString($.add_technical_tags_step.technical_tags)"
                  }
                }
              },
              "ResultPath": "$.dynamo_db_put_item_step",
              "End": true
            }
          }
        },
        {
          "StartAt": "put_portal_partition_key_item",
          "States": {
            "put_portal_partition_key_item": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Item": {
                  "id.$": "$.workflow_inputs.portalRunId",
                  "id_type": "portal_run_id",
                  "db_uuid": {
                    "S.$": "$.create_db_uuid_step.db_uuid"
                  },
                  "analysis_status": {
                    "S": "PRE_LAUNCH"
                  }
                }
              },
              "ResultPath": "$.dynamo_db_put_item_step",
              "End": true
            }
          }
        },
        {
          "StartAt": "log_event_item",
          "States": {
            "log_event_item": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Item": {
                  "id.$": "$.create_db_uuid_step.db_uuid",
                  "id_type": "event_logger",
                  "db_uuid": {
                    "S.$": "$.create_db_uuid_step.db_uuid"
                  },
                  "event_timestamp_list": {
                    "L": [
                      {
                        "S.$": "$$.State.EnteredTime"
                      }
                    ]
                  },
                  "analysis_status_list": {
                    "L": [
                      {
                        "S": "PRE_LAUNCH"
                      }
                    ]
                  }
                }
              },
              "ResultPath": "$.dynamo_db_put_item_step",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.add_items_in_parallel_step"
    },
    "Wait 1 Second (pre-input-generation)": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Set Inputs (Parallel)"
    },
    "Set Inputs (Parallel)": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Set Input Json Sfn",
          "States": {
            "Set Input Json Sfn": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn": "${__set_input_json_state_machine_arn__}",
                "Input": {
                  "db_uuid.$": "$.create_db_uuid_step.db_uuid"
                }
              },
              "ResultPath": "$.set_input_json_sfn_step",
              "Next": "Wait 1 Second (pre-execution)"
            },
            "Wait 1 Second (pre-execution)": {
              "Type": "Wait",
              "Seconds": 1,
              "End": true
            }
          }
        },
        {
          "StartAt": "Pipeline ID in Event Payload",
          "States": {
            "Pipeline ID in Event Payload": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.workflow_inputs.payload.pipelineId",
                  "IsPresent": true,
                  "Next": "Skip Get Parameter"
                }
              ],
              "Default": "GetPipelineIdSsmParameter"
            },
            "Skip Get Parameter": {
              "Type": "Pass",
              "Parameters": {
                "pipeline_id": "$.workflow_inputs.payload.pipelineId"
              },
              "ResultPath": "$.pipeline_id_var",
              "Next": "DynamoDB UpdatePipelineId"
            },
            "GetPipelineIdSsmParameter": {
              "Type": "Task",
              "Parameters": {
                "Name": "${__pipeline_id_ssm_path__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "ResultSelector": {
                "pipeline_id.$": "$.Parameter.Value"
              },
              "ResultPath": "$.pipeline_id_var",
              "Next": "DynamoDB UpdatePipelineId"
            },
            "DynamoDB UpdatePipelineId": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Key": {
                  "id": {
                    "S.$": "$.create_db_uuid_step.db_uuid"
                  },
                  "id_type": "db_uuid"
                },
                "UpdateExpression": "SET analysis_pipeline_id = :analysis_pipeline_id",
                "ExpressionAttributeValues": {
                  ":analysis_pipeline_id": {
                    "S.$": "$.pipeline_id_var.pipeline_id"
                  }
                }
              },
              "ResultPath": "$.update_item_step",
              "Next": "Wait 1 Second"
            },
            "Wait 1 Second": {
              "Type": "Wait",
              "Seconds": 1,
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.set_inputs_parallel_step",
      "Next": "get_database_entry"
    },
    "get_database_entry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.create_db_uuid_step.db_uuid",
          "id_type": "db_uuid"
        }
      },
      "ResultSelector": {
        "payload.$": "States.StringToJson($.Item.launch_event_payload.S)",
        "input_json.$": "$.Item.input_json.S",
        "pipeline_id.$": "$.Item.analysis_pipeline_id.S",
        "technical_tags.$": "States.StringToJson($.Item.analysis_technical_tags.S)"
      },
      "ResultPath": "$.get_input_parameters_from_event",
      "Next": "get_parameters_from_payload"
    },
    "get_parameters_from_payload": {
      "Type": "Pass",
      "Parameters": {
        "project_id.$": "$.get_input_parameters_from_event.payload.projectId",
        "pipeline_id.$": "$.get_input_parameters_from_event.pipeline_id",
        "user_reference.$": "$.get_input_parameters_from_event.payload.userReference",
        "input_json.$": "$.get_input_parameters_from_event.input_json",
        "analysis_output_uri.$": "$.get_input_parameters_from_event.payload.analysisOutputUri",
        "ica_logs_uri.$": "$.get_input_parameters_from_event.payload.icaLogsUri",
        "technical_tags.$": "$.get_input_parameters_from_event.technical_tags",
        "user_tags.$": "$.get_input_parameters_from_event.payload.userTags"
      },
      "ResultPath": "$.get_parameters_from_payload",
      "Next": "launch_icav2_pipeline_lambda"
    },
    "launch_icav2_pipeline_lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload": {
          "project_id.$": "$.get_parameters_from_payload.project_id",
          "pipeline_id.$": "$.get_parameters_from_payload.pipeline_id",
          "workflow_type": "${__workflow_platform_type__}",
          "user_reference.$": "$.get_parameters_from_payload.user_reference",
          "input_json.$": "$.get_parameters_from_payload.input_json",
          "analysis_output_uri.$": "$.get_parameters_from_payload.analysis_output_uri",
          "ica_logs_uri.$": "$.get_parameters_from_payload.ica_logs_uri",
          "technical_tags.$": "$.get_parameters_from_payload.technical_tags",
          "user_tags.$": "$.get_parameters_from_payload.user_tags"
        },
        "FunctionName": "${__launch_icav2_pipeline_lambda_function_name__}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "TimeoutSeconds": 60,
      "ResultSelector": {
        "analysis_id.$": "$.Payload.analysis_id",
        "analysis_status.$": "$.Payload.analysis_status",
        "analysis_return_payload.$": "$.Payload.analysis_return_payload",
        "analysis_launch_payload.$": "$.Payload.analysis_launch_payload"
      },
      "ResultPath": "$.launch_nextflow_object_step",
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "DynamoDB Update DbUuid Item",
          "States": {
            "DynamoDB Update DbUuid Item": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Key": {
                  "id": {
                    "S.$": "$.create_db_uuid_step.db_uuid"
                  },
                  "id_type": "db_uuid"
                },
                "UpdateExpression": "SET analysis_id = :analysis_id, analysis_status = :analysis_status, analysis_return_payload = :analysis_return_payload, analysis_launch_payload = :analysis_launch_payload",
                "ExpressionAttributeValues": {
                  ":analysis_id": {
                    "S.$": "$.launch_nextflow_object_step.analysis_id"
                  },
                  ":analysis_status": {
                    "S.$": "$.launch_nextflow_object_step.analysis_status"
                  },
                  ":analysis_return_payload": {
                    "S.$": "States.JsonToString($.launch_nextflow_object_step.analysis_return_payload)"
                  },
                  ":analysis_launch_payload": {
                    "S.$": "States.JsonToString($.launch_nextflow_object_step.analysis_launch_payload)"
                  }
                }
              },
              "ResultPath": "$.update_entry_post_launch_step",
              "End": true
            }
          }
        },
        {
          "StartAt": "DynamoDB Put Icav2 ID Partition Entry",
          "States": {
            "DynamoDB Put Icav2 ID Partition Entry": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${__table_name__}",
                "Item": {
                  "id.$": "$.launch_nextflow_object_step.analysis_id",
                  "id_type": "icav2_analysis_id",
                  "db_uuid": {
                    "S.$": "$.create_db_uuid_step.db_uuid"
                  }
                }
              },
              "ResultPath": "$.dynamo_db_put_item_step",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.update_database",
      "Next": "Wait 1 Second (Post-execution)"
    },
    "Wait 1 Second (Post-execution)": {
      "Type": "Wait",
      "Seconds": 1,
      "Comment": "Wait for databases to sync before continuing",
      "Next": "Get PortalRunId DataBase Entry"
    },
    "Get PortalRunId DataBase Entry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.workflow_inputs.portalRunId",
          "id_type": "portal_run_id"
        }
      },
      "Next": "DynamoDB GetItem",
      "ResultPath": "$.database_event_data",
      "ResultSelector": {
        "db_uuid.$": "$.Item.db_uuid.S"
      }
    },
    "DynamoDB GetItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.database_event_data.db_uuid",
          "id_type": "db_uuid"
        }
      },
      "Next": "put_launch_event",
      "ResultSelector": {
        "portalRunId.$": "$.Item.portal_run_id.S",
        "timestamp.$": "$$.State.EnteredTime",
        "status.$": "$.Item.analysis_status.S",
        "workflowType": "${__workflow_type__}",
        "workflowVersion": "${__workflow_version__}",
        "payload": {
          "refId": null,
          "analysisLaunchPayload.$": "$.Item.analysis_launch_payload.S",
          "analysisReturnPayload.$": "$.Item.analysis_return_payload.S",
          "stateMachineExecutionArn.$": "$.Item.state_machine_execution_arn.S",
          "analysisId.$": "$.Item.analysis_id.S"
        },
        "serviceVersion": "${__service_version__}"
      },
      "ResultPath": "$.database_event_data"
    },
    "put_launch_event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "$.database_event_data",
            "DetailType": "${__detail_type__}",
            "EventBusName": "${__eventbus_name__}",
            "Source": "${__event_source__}",
            "Resources": []
          }
        ]
      },
      "End": true
    }
  }
}
