lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/selleys/constructs/part_2/update-database-on-new-fastq-list-rows/step_function_templates/update_database_on_new_fastqlistrows_full.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Decompress fastq list rows",
  "States": {
    "Decompress fastq list rows": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "translate event"
    },
    "translate event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Update LibraryFile DB"
    },
    "Update LibraryFile DB": {
      "Type": "Parallel",
      "Next": "Raise event for fastqlistrows registered",
      "Branches": [
        {
          "StartAt": "Add fastq list rows to intrsutemnt run id (LibraryFile DB)",
          "States": {
            "Add fastq list rows to intrsutemnt run id (LibraryFile DB)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Parameters": {
                "TableName": "MyDynamoDBTable",
                "Key": {
                  "Column": {
                    "S": "MyEntry"
                  }
                },
                "UpdateExpression": "SET MyKey = :myValueRef",
                "ExpressionAttributeValues": {
                  ":myValueRef": {
                    "S": "MyValue"
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "For each fastq list row",
          "States": {
            "For each fastq list row": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Update LibraryFile DB on librarylane level",
                "States": {
                  "Update LibraryFile DB on librarylane level": {
                    "Type": "Parallel",
                    "Branches": [
                      {
                        "StartAt": "Add fastq list row key",
                        "States": {
                          "Add fastq list row key": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::dynamodb:putItem",
                            "Parameters": {
                              "TableName": "MyDynamoDBTable",
                              "Item": {
                                "Column": {
                                  "S": "MyEntry"
                                }
                              }
                            },
                            "End": true
                          }
                        }
                      },
                      {
                        "StartAt": "Update library lane id",
                        "States": {
                          "Update library lane id": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "Parameters": {
                              "TableName": "MyDynamoDBTable",
                              "Key": {
                                "Column": {
                                  "S": "MyEntry"
                                }
                              },
                              "UpdateExpression": "SET MyKey = :myValueRef",
                              "ExpressionAttributeValues": {
                                ":myValueRef": {
                                  "S": "MyValue"
                                }
                              }
                            },
                            "End": true
                          }
                        }
                      }
                    ],
                    "End": true
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "For each library id",
          "States": {
            "For each library id": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Append fastq list row id to library id",
                "States": {
                  "Append fastq list row id to library id": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "MyDynamoDBTable",
                      "Key": {
                        "Column": {
                          "S": "MyEntry"
                        }
                      },
                      "UpdateExpression": "SET MyKey = :myValueRef",
                      "ExpressionAttributeValues": {
                        ":myValueRef": {
                          "S": "MyValue"
                        }
                      }
                    },
                    "End": true
                  }
                }
              },
              "End": true
            }
          }
        }
      ]
    },
    "Raise event for fastqlistrows registered": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "Message": "Hello from Step Functions!",
              "TaskToken.$": "$$.Task.Token"
            },
            "DetailType": "MyDetailType",
            "EventBusName": "MyEventBusName",
            "Source": "MySource"
          }
        ]
      },
      "End": true
    }
  }
}
