lib/workload/components/event-workflowrunstatechange-internal-to-inputmaker-sfn/step_functions_templates/workflowrunstatechange_input_maker_step_function_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "move inputs",
  "States": {
    "move inputs": {
      "Type": "Pass",
      "Next": "Get reference id from payload",
      "Parameters": {
        "event_inputs.$": "$"
      }
    },
    "Get reference id from payload": {
      "Type": "Pass",
      "Next": "Get reference Id in database (local)",
      "Parameters": {
        "reference_id.$": "$.event_inputs.detail.payload.refId"
      },
      "ResultPath": "$.get_reference_id_step"
    },
    "Get reference Id in database (local)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.get_reference_id_step.reference_id",
          "id_type": "${__event_transformation_type__}"
        }
      },
      "Next": "is reference id in database"
    },
    "is reference id in database": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.get_reference_id_step.reference_id",
            "IsPresent": true
          },
          "Next": "Get Item from DataBase (loca)"
        }
      ],
      "Default": "Add event input to database (local)"
    },
    "Get Item from DataBase (loca)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.generate_db_uuid_step.db_uuid",
          "id_type": "${__event_transformation_type__}"
        }
      },
      "Next": "EventBridge PutEvents",
      "ResultPath": "$.get_workflow_run_items",
      "ResultSelector": {
        "workflow_input_maker_detail": ".Item.input_maker_outputs"
      }
    },
    "EventBridge PutEvents": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Parameters": {
        "Entries": [
          {
            "Detail.$": "$.get_workflow_run_items.workflow_input_maker_detail",
            "DetailType": "${__detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__event_output_source__}"
          }
        ]
      },
      "End": true
    },
    "Add event input to database (local)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Item": {
          "id": "$.get_reference_id_step.reference_id",
          "id_type": "${__event_transformation_type__}",
          "event_input_source": {
            "S": "${__event_input_source__}"
          },
          "event_input_payload": {
            "S.$": "$.States.JsonToString($.event_input_payload)"
          }
        }
      },
      "Next": "Wait 1 Second",
      "ResultPath": "$.put_input_item_step"
    },
    "Wait 1 Second": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Set Workflow Run inputs"
    },
    "Set Workflow Run inputs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:REGION:ACCOUNT_ID:stateMachine:STATE_MACHINE_NAME",
        "Input": {
          "db_uuid": "$.get_reference_id_step.reference_id"
        }
      },
      "Next": "Get Item from DataBase (loca)",
      "ResultPath": "$.set_workflow_run_inputs"
    }
  }
}