lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/scotch/constructs/part_3/bssh-fastq-copy-manager-input-maker/step_function_templates/bssh_fastq_copy_maker_data_input_maker.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Move inputs",
  "States": {
    "Move inputs": {
      "Type": "Pass",
      "Parameters": {
        "inputs.$": "$"
      },
      "Next": "Get event data from ref db (Local)"
    },
    "Get event data from ref db (Local)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.inputs.db_uuid",
          "id_type": "${__input_maker_type__}"
        }
      },
      "ResultSelector": {
        "event_data_input.$": "States.StringToJson($.Item.event_data_input.S)"
      },
      "ResultPath": "$.get_event_detail_payload_data_from_db_step",
      "Next": "Get OutputUri For bssh FASTQ Copy Manager"
    },
    "Get OutputUri For bssh FASTQ Copy Manager": {
      "Type": "Task",
      "Parameters": {
        "Name": "${__bclconvert_output_uri_ssm_parameter_name__}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Next": "Generate inputs for BsshFastqCopyManager",
      "ResultSelector": {
        "output_uri.$": "$.Parameter.Value"
      },
      "ResultPath": "$.get_output_uri_parameter_step"
    },
    "Generate inputs for BsshFastqCopyManager": {
      "Type": "Pass",
      "Parameters": {
        "instrumentRunId.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.instrumentRunId",
        "bsshProjectId.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.projectId",
        "bsshAnalysisId.$": "$.get_event_detail_payload_data_from_db_step.event_data_input.analysisId",
        "outputUri.$": "$.get_output_uri_parameter_step.output_uri"
      },
      "ResultPath": "$.set_event_data_output",
      "Next": "Add event data outputs (local)"
    },
    "Add event data outputs (local)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.inputs.db_uuid",
          "id_type": "${__input_maker_type__}"
        },
        "UpdateExpression": "SET event_data_output = :event_data_output",
        "ExpressionAttributeValues": {
          ":event_data_output": {
            "S.$": "States.JsonToString($.set_event_data_output)"
          }
        }
      },
      "Next": "Wait 1 Second"
    },
    "Wait 1 Second": {
      "Type": "Wait",
      "Seconds": 1,
      "End": true
    }
  }
}
