lib/workload/stateless/stacks/fastq-unarchiving/app/step_functions_templates/run_s3_steps_copy_sfns_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Set Vars",
  "States": {
    "Set Vars": {
      "Type": "Pass",
      "Next": "Wait",
      "Assign": {
        "jobId": "{% $states.input.jobId %}",
        "fastqIdList": "{% $states.input.fastqIdList %}",
        "s3StepsCopyBucket": "${__aws_s3_copy_steps_bucket__}",
        "s3StepsCopyCsvKey": "{% '${__aws_s3_copy_steps_key_prefix__}' & $states.context.Execution.Id & '.__index__.csv' %}",
        "restoreBucket": "${__aws_s3_pipeline_cache_bucket__}",
        "restorePrefix": "{% '${__aws_s3_pipeline_cache_restore_prefix__}' & '/' & $now('year=[Y0001]/month=[M01]/day=[D01]') & '/' & $states.context.Execution.Name & '/' %}"
      }
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Add Unarchiving job running event"
    },
    "Add Unarchiving job running event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_job_database_lambda_function_arn__}",
        "Payload": {
          "jobId": "{% $jobId %}",
          "status": "RUNNING"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Split fastq ids by instrument run id"
    },
    "Split fastq ids by instrument run id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__split_fastq_ids_by_instrument_run_id_lambda_function_arn__}",
        "Payload": {
          "fastqIdList": "{% $fastqIdList %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "For each instrument run id"
    },
    "For each instrument run id": {
      "Type": "Map",
      "Items": "{% $states.input.fastqIdsByInstrumentRunId %}",
      "ItemSelector": {
        "instrumentRunId": "{% $states.context.Map.Item.Value.instrumentRunId %}",
        "fastqIdList": "{% $states.context.Map.Item.Value.fastqIdList %}",
        "s3StepsCopyBucket": "{% $s3StepsCopyBucket %}",
        "s3StepsCopyKey": "{% $replace($s3StepsCopyCsvKey, '__index__', $states.context.Map.Item.Index %}",
        "restoreBucket": "{% $restoreBucket %}",
        "restorePrefix": "{% $restorePrefix & $states.context.Map.Item.Value.instrumentRunId & '/' %}",
        "indexIter": "{% $states.context.Map.Item.Index %}"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "Set vars in map",
        "States": {
          "Set vars in map": {
            "Type": "Pass",
            "Next": "Generate steps function csv and upload to s3",
            "Assign": {
              "instrumentRunIdMapIter": "{% $states.input.instrumentRunId %}",
              "fastqIdListMapIter": "{% $states.input.fastqIdList %}",
              "s3StepsCopyBucketMapIter": "{% $states.input.s3StepsCopyBucket %}",
              "s3StepsCopyKeyMapIter": "{% $replace($s3StepsCopyKey, '__index__', $states.input.indexIter) %}",
              "restoreBucketMapIter": "{% $states.input.restoreBucket %}",
              "restorePrefixMapIter": "{% $states.input.restorePrefix %}"
            }
          },
          "Generate steps function csv and upload to s3": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
              "FunctionName": "${__create_csv_for_s3_steps_copy_lambda_function_arn__}",
              "Payload": {
                "fastqIdList": "{% $fastqIdList %}",
                "s3StepsCopyBucket": "{% $s3StepsCopyBucket %}",
                "s3StepsCopyKey": "{% $s3StepsCopyKey %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Next": "Run unarchiver"
          },
          "Run unarchiver": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Arguments": {
              "StateMachineArn": "${__aws_s3_steps_copy_sfn_arn__}",
              "Input": {
                "sourceFilesCsvKey": "{% $s3StepsCopyKeyMapIter %}",
                "destinationBucket": "{% $restoreBucket %}",
                "destinationPrefixKey": "{% $restorePrefix %}",
                "maxItemsPerBatch": 1
              }
            },
            "Next": "For each output file",
            "Catch": [
              {
                "ErrorEquals": ["Update archiving failure", "States.ALL"],
                "Next": "Add failed as output",
                "Comment": "Steps function failure"
              }
            ],
            "Output": {
              "stepsExecutionId": "{% $states.result.name %}",
              "output": "{% $states.result.output %}",
              "error": "{% $states.result.Error %}"
            }
          },
          "Add failed as output": {
            "Type": "Pass",
            "End": true,
            "Output": {
              "errorMessage": "{% 'S3 Copy Steps ' & $states.input.stepsExecutionId & ' failed' %}",
              "hasError": true
            }
          },
          "For each output file": {
            "Type": "Map",
            "ItemProcessor": {
              "ProcessorConfig": {
                "Mode": "DISTRIBUTED",
                "ExecutionType": "STANDARD"
              },
              "StartAt": "Map Iter Vars",
              "States": {
                "Map Iter Vars": {
                  "Type": "Pass",
                  "Next": "Find Original Ingest ID",
                  "Assign": {
                    "fastqIdList": "{% $states.input.fastqIds %}",
                    "bucket": "{% $states.input.bucket %}",
                    "key": "{% $states.input.key %}",
                    "s3Uri": "{% 's3://' & $states.input.bucket + '/' + $states.input.key %}"
                  }
                },
                "Find Original Ingest ID": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Arguments": {
                    "FunctionName": "${__get_original_ingest_id_lambda_function_arn__}",
                    "Payload": {
                      "fastqIdList": "{% $fastqIdList %}",
                      "s3Uri": "{% $s3Uri %}"
                    }
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                      ],
                      "IntervalSeconds": 1,
                      "MaxAttempts": 3,
                      "BackoffRate": 2,
                      "JitterStrategy": "FULL"
                    }
                  ],
                  "Next": "Manually update ingest id",
                  "Assign": {
                    "fastqIdMapIter": "{% $states.result.Payload.fastqId %}",
                    "ingestIdMapIter": "{% $states.result.Payload.ingestId %}"
                  }
                },
                "Manually update ingest id": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Output": "{% $states.result.Payload %}",
                  "Arguments": {
                    "FunctionName": "${__update_ingest_id_lambda_function_arn__}",
                    "Payload": {
                      "fastqId": "{% $fastqIdMapIter %}",
                      "ingestId": "{% $ingestIdMapIter %}",
                      "bucket": "{% $bucket %}",
                      "key": "{% $key %}"
                    }
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                      ],
                      "IntervalSeconds": 1,
                      "MaxAttempts": 3,
                      "BackoffRate": 2,
                      "JitterStrategy": "FULL"
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": ["Update archiving failure"],
                      "Comment": "Update ingest id failure",
                      "Next": "Add failed messaged as output (ingest error)"
                    }
                  ],
                  "End": true
                },
                "Add failed messaged as output (ingest error)": {
                  "Type": "Pass",
                  "End": true,
                  "Output": {
                    "errorMessage": "{% 'Ingest ID update s3 uri ' & $s3Uri & '  failed to update ingest id ' & $ingestIdMapIter & ' for fastq id ' & $fastqIdMapIter' %}",
                    "hasError": true
                  }
                }
              }
            },
            "End": true,
            "Label": "Foreachoutputfile",
            "MaxConcurrency": 1000,
            "ItemReader": {
              "Resource": "arn:aws:states:::s3:listObjectsV2",
              "Arguments": {
                "Bucket": "{% $restoreBucket %}",
                "Prefix": "{% $restorePrefix %}"
              }
            },
            "ItemSelector": {
              "bucketIter": "{% $states.context.Map.Item.Value.Bucket %}",
              "keyIter": "{% $states.context.Map.Item.Value.Key %}",
              "fastqIds": "{% $fastqIdList %}"
            }
          }
        }
      },
      "Label": "Foreachinstrumentrunid",
      "MaxConcurrency": 1000,
      "Next": "Update job database",
      "Assign": {
        "hasError": "{% /* Check if any iterable of hasError is set to true  -  https://try.jsonata.org/9IqHtAIc0 */\n$sum(\n  [\n    $map($.states.result, function($resultIter){$resultIter.hasError = true ? 1 : 0})\n  ]\n) > 0 ? true : false %}",
        "errorMessages": "{% /* Check if any iterable of hasError is set to true  -  https://try.jsonata.org/PZX8zUmWZ */\n(\n  $appendMessages := function($i, $j){$i & \" \" & $j};\n  $reduce(\n    [\n      $map($, function($resultIter){$resultIter.errorMessage})      \n    ],\n    $appendMessages\n  )\n)\n %}"
      }
    },
    "Update job database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_job_database_lambda_function_arn__}",
        "Payload": {
          "jobId": "{% $jobId %}",
          "hasError": "{% $states.input.hasError %}",
          "errorMessages": "{% $states.input.errorMessages %}",
          "status": "{% $states.input.hasError ? 'FAILED' : 'SUCCEEDED' %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
