lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/kwik/part_6/push-fastq-list-row-qc-complete-event/step_function_templates/wgts_qc_complete_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Move Inputs",
  "States": {
    "Move Inputs": {
      "Type": "Pass",
      "Next": "Get Fastq List Row Id from Portal Run Id",
      "Parameters": {
        "inputs.$": "$"
      }
    },
    "Get Fastq List Row Id from Portal Run Id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.inputs.portalRunId",
          "id_type": "${__portal_run_partition_name__}"
        }
      },
      "ResultSelector": {
        "fastq_list_row_id.$": "$.Item.fastq_list_row_id"
      },
      "ResultPath": "$.get_fastq_list_row_id_from_portal_run_id",
      "Next": "Get Library Hash from FastqListRow Id"
    },
    "Get Library Hash from FastqListRow Id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.get_fastq_list_row_id_from_portal_run_id.fastq_list_row_id",
          "id_type": "${__fastq_list_row_partition__}"
        }
      },
      "ResultPath": "$.get_library_hash_step",
      "ResultSelector": {
        "library_id_hash.$": "$.Item.library_db_id",
        "instrument_run_id.$": "$.Item.instrument_run_id"
      },
      "Next": "GetLibraryInfo"
    },
    "GetLibraryInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.get_library_hash_step.library_id_hash",
          "id_type": "${__library_partition__}"
        }
      },
      "ResultSelector": {
        "sample_type.$": "$.Item.type",
        "internal_id.$": "$.Item.internal_id"
      },
      "ResultPath": "$.get_library_info_step",
      "Next": "Collect QC Metrics from alignment directory"
    },
    "Collect QC Metrics from alignment directory": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__collect_qc_metrics_lambda_function_arn__}",
        "Payload": {
          "sample_type.$": "$.get_library_info_step.sample_type",
          "analysis_output_uri.$": "$.inputs.payload.data.engineParameters.outputUri"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Dump QC Metrics to Fastq List Row DB",
      "ResultSelector": {
        "qc_metrics.$": "$.Payload"
      },
      "ResultPath": "$.get_qc_metrics_step"
    },
    "Dump QC Metrics to Fastq List Row DB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.get_fastq_list_row_id_from_portal_run_id.fastq_list_row_id",
          "id_type": "${__fastq_list_row_partition__}"
        },
        "UpdateExpression": "SET qc_metrics_json = :qc_metrics_json",
        "ExpressionAttributeValues": {
          ":qc_metrics_json": {
            "S.$": "States.JsonToString($.get_qc_metrics_step.qc_metrics)"
          }
        }
      },
      "Next": "Wait 1 Second"
    },
    "Wait 1 Second": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Generate Event Data Object"
    },
    "Generate Event Data Object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__generate_event_output_objects_lambda_function_arn__}",
        "Payload": {
          "fastq_list_row_id.$": "$.get_fastq_list_row_id_from_portal_run_id.fastq_list_row_id",
          "sample_type.$": "$.get_library_info_step.sample_type",
          "qc_metrics.$": "$.get_qc_metrics_step.qc_metrics",
          "library_internal_id.$": "$.get_library_info_step.internal_id"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "event_data.$": "$.Payload.event_data"
      },
      "ResultPath": "$.get_event_data_step",
      "Next": "Push FastqListRowQc Complete Event"
    },
    "Push FastqListRowQc Complete Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "timestamp.$": "$$.State.EnteredTime",
              "status": "${__output_status__}",
              "payload": {
                "version": "${__payload_version__}",
                "data.$": "$.get_event_data_step.event_data"
              }
            },
            "DetailType": "${__detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__event_source__}"
          }
        ]
      },
      "End": true
    }
  }
}
