lib/workload/components/ora-file-decompression-fq-pair-sfn/step_functions_templates/decompress_ora_fastq_pair_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Validation Only",
  "States": {
    "Validation Only": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validationOnly",
          "BooleanEquals": true,
          "Next": "Convert Fastq List Row ORA Validation to Array"
        }
      ],
      "Default": "Convert Fastq List Row ORA to Array"
    },
    "Convert Fastq List Row ORA Validation to Array": {
      "Type": "Pass",
      "Next": "Decompress ORA Files",
      "Parameters": {
        "ora_files_map": [
          {
            "input_uri.$": "$.read1OraFileUri",
            "output_uri.$": "$.read1GzOutputFileUri",
            "estimated_gz_file_size.$": "States.Format('{}', $.read1EstimatedGzFileSize)"
          },
          {
            "input_uri.$": "$.read2OraFileUri",
            "output_uri.$": "$.read2GzOutputFileUri",
            "estimated_gz_file_size.$": "States.Format('{}', $.read2EstimatedGzFileSize)"
          }
        ]
      },
      "ResultPath": "$.fastq_list_row_as_map"
    },
    "Convert Fastq List Row ORA to Array": {
      "Type": "Pass",
      "Next": "Decompress ORA Files",
      "Parameters": {
        "ora_files_map": [
          {
            "input_uri.$": "$.read1OraFileUri",
            "raw_md5sum.$": "$.read1RawMd5sum"
          },
          {
            "input_uri.$": "$.read2OraFileUri",
            "raw_md5sum.$": "$.read2RawMd5sum"
          }
        ]
      },
      "ResultPath": "$.fastq_list_row_as_map"
    },
    "Decompress ORA Files": {
      "Type": "Map",
      "ItemsPath": "$.fastq_list_row_as_map.ora_files_map",
      "ItemSelector": {
        "validation_only.$": "$.validationOnly",
        "fastqMap.$": "$$.Map.Value"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Run Validation Only",
        "States": {
          "Run Validation Only": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.validation_only",
                "BooleanEquals": true,
                "Next": "Validate ORA File"
              }
            ],
            "Default": "Decompress ORA File"
          },
          "Validate ORA File": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "LaunchType": "FARGATE",
              "Cluster": "${__ora_decompression_cluster_arn__}",
              "TaskDefinition": "${__ora_task_definition_arn__}",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets.$": "States.StringSplit('${__subnets__}', ',')",
                  "SecurityGroups.$": "States.Array('${__sg_group__}')"
                }
              },
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "${__ora_container_name__}",
                    "Environment": [
                      {
                        "Name": "INPUT_URI",
                        "Value.$": "$.fastqMap.input_uri"
                      },
                      {
                        "Name": "ICAV2_ACCESS_TOKEN_SECRET_ID",
                        "Value": "${__icav2_access_token_secret_id__}"
                      },
                      {
                        "Name": "IS_VALIDATION",
                        "Value": "true"
                      },
                      {
                        "Name": "RAW_MD5SUM",
                        "Value.$": "$.fastqMap.raw_md5sum"
                      }
                    ]
                  }
                ]
              }
            },
            "TimeoutSeconds": 7200,
            "End": true
          },
          "Decompress ORA File": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "LaunchType": "FARGATE",
              "Cluster": "${__ora_decompression_cluster_arn__}",
              "TaskDefinition": "${__ora_task_definition_arn__}",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets.$": "States.StringSplit('${__subnets__}', ',')",
                  "SecurityGroups.$": "States.Array('${__sg_group__}')"
                }
              },
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "${__ora_container_name__}",
                    "Environment": [
                      {
                        "Name": "INPUT_URI",
                        "Value.$": "$.fastqMap.input_uri"
                      },
                      {
                        "Name": "OUTPUT_URI",
                        "Value.$": "$.fastqMap.output_uri"
                      },
                      {
                        "Name": "ESTIMATED_GZ_FILE_SIZE",
                        "Value.$": "$.fastqMap.estimated_gz_file_size"
                      },
                      {
                        "Name": "ICAV2_ACCESS_TOKEN_SECRET_ID",
                        "Value": "${__icav2_access_token_secret_id__}"
                      },
                      {
                        "Name": "IS_VALIDATION",
                        "Value": "false"
                      }
                    ]
                  }
                ]
              }
            },
            "TimeoutSeconds": 7200,
            "End": true
          }
        }
      },
      "ResultPath": "$.fastq_list_row_as_map",
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
