lib/workload/components/ora-file-decompression-fq-pair-sfn/step_functions_templates/ecs_task_rate_limiters_sfn_template.asl.json
{
  "Comment": "Task Backoff SFN",
  "StartAt": "ListTasks",
  "States": {
    "ListTasks": {
      "Type": "Task",
      "Parameters": {
        "Cluster": "${__cluster_arn__}",
        "MaxResults": 100
      },
      "Resource": "arn:aws:states:::aws-sdk:ecs:listTasks",
      "Catch": [
        {
          "ErrorEquals": ["Ecs.EcsException"],
          "Next": "Sleep a minute",
          "ResultPath": null
        }
      ],
      "ResultSelector": {
        "num_tasks_running.$": "States.ArrayLength($.TaskArns)"
      },
      "ResultPath": "$.get_num_tasks_step",
      "Next": "Over 400 tasks running"
    },
    "Over 400 tasks running": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.get_num_tasks_step.num_tasks_running",
          "NumericGreaterThan": 99,
          "Next": "Sleep a minute",
          "Comment": "More than 400 tasks running"
        }
      ],
      "Default": "Success"
    },
    "Sleep a minute": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "ListTasks"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
