lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/scotch/step_function_templates/part_2/update_database_on_new_samplesheet.asl.simple.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Decompress SampleSheet",
  "States": {
    "Decompress SampleSheet": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload": {
          "samplesheet_b64gz": "$.samplesheetB64gz"
        },
        "FunctionName": "${__decompress_samplesheet_function_arn__}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Registed SampleSheet by RunID (LibraryFile DB)",
      "Comment": "Gunzip SampleSheet",
      "ResultPath": "$.decompress_samplesheet_step",
      "ResultSelector": {
        "samplesheet_json.$": "$.samplesheet_json"
      }
    },
    "Registed SampleSheet by RunID (LibraryFile DB)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Item": {
          "Column": {
            "S": "MyEntry"
          }
        }
      },
      "Next": "LibraryLaneId Registered Event"
    },
    "LibraryLaneId Registered Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "Message": "Hello from Step Functions!",
              "TaskToken.$": "$$.Task.Token"
            },
            "DetailType": "MyDetailType",
            "EventBusName": "MyEventBusName",
            "Source": "MySource"
          }
        ]
      },
      "End": true
    }
  }
}