lib/workload/components/sfn-generate-workflowrunstatechange-ready-event/step_functions_templates/generate_analysis_engine_parameters_from_ssm_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Move Inputs",
  "States": {
    "Move Inputs": {
      "Type": "Pass",
      "Next": "Get SSM Parameter Objects",
      "Parameters": {
        "inputs.$": "$"
      }
    },
    "Get SSM Parameter Objects": {
      "Type": "Map",
      "ItemsPath": "$.inputs.ssm_parameters_list",
      "ItemSelector": {
        "engine_parameter_key.$": "$$.Map.Item.Value.engine_parameter_key",
        "ssm_name.$": "$$.Map.Item.Value.ssm_name"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Is SSM Name Null",
        "States": {
          "Is SSM Name Null": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.ssm_name",
                "StringMatches": "",
                "Comment": "Empty SSM",
                "Next": "Set Map Output Blank"
              }
            ],
            "Default": "Get EngineParameter URI"
          },
          "Set Map Output Blank": {
            "Type": "Pass",
            "Parameters": {
              "output.$": "States.StringToJson(States.Format('\\{\"{}\":\"{}\"\\}', $.engine_parameter_key, ''))"
            },
            "End": true
          },
          "Get EngineParameter URI": {
            "Type": "Task",
            "Parameters": {
              "Name.$": "$.ssm_name"
            },
            "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
            "ResultSelector": {
              "engine_parameter_uri.$": "$.Parameter.Value"
            },
            "ResultPath": "$.get_uri_step",
            "Next": "Is Project Id"
          },
          "Is Project Id": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.engine_parameter_key",
                "StringMatches": "projectId",
                "Next": "Convert String to Json for Project ID SSM Parameter"
              }
            ],
            "Default": "Set Map Output"
          },
          "Convert String to Json for Project ID SSM Parameter": {
            "Type": "Pass",
            "Next": "Set Map Output For Project ID",
            "Parameters": {
              "project_as_json.$": "States.StringToJson($.get_uri_step.engine_parameter_uri)"
            },
            "ResultPath": "$.get_project_id_from_ssm_step"
          },
          "Set Map Output For Project ID": {
            "Type": "Pass",
            "End": true,
            "Parameters": {
              "output.$": "States.StringToJson(States.Format('\\{\"{}\":\"{}\"\\}', $.engine_parameter_key, $.get_project_id_from_ssm_step.project_as_json.project_id))"
            }
          },
          "Set Map Output": {
            "Type": "Pass",
            "End": true,
            "Parameters": {
              "output.$": "States.StringToJson(States.Format('\\{\"{}\":\"{}\"\\}', $.engine_parameter_key, $.get_uri_step.engine_parameter_uri))"
            }
          }
        }
      },
      "ResultSelector": {
        "output.$": "$.[*].output"
      },
      "ResultPath": "$.get_ssm_parameters_step",
      "Next": "Flatten list of objects"
    },
    "Flatten list of objects": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__flatten_list_of_objects_lambda_function_arn__}",
        "Payload": {
          "object_list.$": "$.get_ssm_parameters_step.output"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Fill placeholders in engine parameters",
      "ResultPath": "$.get_engine_parameters_step",
      "ResultSelector": {
        "flattened_object.$": "$.Payload.flattened_object"
      }
    },
    "Fill placeholders in engine parameters": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__fill_placeholders_in_engine_parameters_lambda_function_arn__}",
        "Payload": {
          "portal_run_id.$": "$.inputs.portal_run_id",
          "workflow_name.$": "$.inputs.workflow_name",
          "workflow_version.$": "$.inputs.workflow_version",
          "event_data_inputs.$": "$.inputs.event_data_inputs",
          "engine_parameters.$": "$.get_engine_parameters_step.flattened_object"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Set SFN Outputs",
      "ResultSelector": {
        "engine_parameters.$": "$.Payload.engine_parameters_updated"
      },
      "ResultPath": "$.fill_engine_parameters_step"
    },
    "Set SFN Outputs": {
      "Type": "Pass",
      "End": true,
      "Parameters": {
        "engine_parameters.$": "$.fill_engine_parameters_step.engine_parameters"
      }
    }
  }
}
