lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/nails/part_1/initialise-library-db/step_functions_templates/store_cttsov2_metadata_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Save input vars",
  "States": {
    "Save input vars": {
      "Type": "Pass",
      "Next": "Get project id from library id",
      "Assign": {
        "inputPayloadData": "{% $states.input.payload.data %}"
      }
    },
    "Get project id from library id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__get_project_id_from_library_id_lambda_function_arn__}",
        "Payload": {
          "libraryOrcabusId": "{% $inputPayloadData.library.orcabusId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Initialise Library Id",
      "Assign": {
        "projectId": "{% $states.result.Payload.projectId %}"
      }
    },
    "Initialise Library Id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Arguments": {
        "TableName": "${__table_name__}",
        "Item": {
          "id": {
            "S": "{% $inputPayloadData.library.orcabusId %}"
          },
          "id_type": {
            "S": "${__library_partition_name__}"
          },
          "library_id": {
            "S": "{% $inputPayloadData.library.libraryId %}"
          },
          "library_obj": {
            "S": "{% $string($inputPayloadData.library) %}"
          },
          "project_id": {
            "S": "{% $projectId %}"
          },
          "external_sample_id": {
            "S": "{% $inputPayloadData.sample.externalSampleId %}"
          },
          "external_subject_id": {
            "S": "{% $inputPayloadData.subject.subjectId %}"
          },
          "instrument_run_id": {
            "S": "{% $inputPayloadData.instrumentRunId %}"
          }
        }
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
