lib/workload/stateless/stacks/stacky-mcstackface/glue-constructs/roket/part_1/initialise-rnasum-subject-dbs/step_functions_templates/initialise_rnasum_subject_db_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Move Inputs",
  "States": {
    "Move Inputs": {
      "Type": "Pass",
      "Parameters": {
        "payload_data.$": "$.payload.data"
      },
      "Next": "Get Subject Item"
    },
    "Get Subject Item": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.payload_data.subject.subjectId",
          "id_type": "${__subject_partition_name__}"
        }
      },
      "ResultPath": "$.get_subject_item_step",
      "Next": "Subject in Database"
    },
    "Subject in Database": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.get_subject_item_step.Item",
          "IsPresent": false,
          "Comment": "Subject Not In Database",
          "Next": "Initialise Subject"
        }
      ],
      "Default": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    },
    "Initialise Subject": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Item": {
          "id.$": "$.payload_data.subject.subjectId",
          "id_type": "${__subject_partition_name__}",
          "orcabus_id": {
            "S.$": "$.payload_data.subject.orcabusId"
          }
        }
      },
      "End": true
    }
  }
}
