lib/workload/stateless/stacks/cttso-v2-pipeline-manager/step_functions_templates/cttso_v2_launch_workflow_state_machine.asl.json
{
  "Comment": "Launch cttso v2",
  "StartAt": "get_database_entry",
  "States": {
    "get_database_entry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.db_uuid",
          "id_type": "db_uuid"
        }
      },
      "ResultPath": "$.database_event_data",
      "ResultSelector": {
        "portal_run_id.$": "$.Item.portal_run_id.S",
        "event_payload.$": "States.StringToJson($.Item.launch_event_payload.S)",
        "analysis_technical_tags.$": "States.StringToJson($.Item.analysis_technical_tags.S)"
      },
      "Next": "update_entry_pre_fastq_copy"
    },
    "update_entry_pre_fastq_copy": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.db_uuid",
          "id_type": "db_uuid"
        },
        "UpdateExpression": "SET analysis_status = :analysis_status",
        "ExpressionAttributeValues": {
          ":analysis_status": {
            "S": "CACHE_COPY_IN_PROGRESS"
          }
        }
      },
      "ResultPath": "$.update_entry_pre_fastq",
      "Next": "copy_files_to_cache_directory"
    },
    "copy_files_to_cache_directory": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "generate_trimmed_samplesheet",
          "States": {
            "generate_trimmed_samplesheet": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${__generate_trimmed_samplesheet__}",
                "Payload": {
                  "samplesheet_b64gz.$": "$.get_database_entry.event_payload.samplesheetB64gz",
                  "sample_id.$": "$.get_database_entry.event_payload.sampleId"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "Next": "upload_samplesheet_to_cache_path",
              "Comment": "We expect the inputs:\n* samplesheet_b64gz\n* sample_id\n\nAnd we provide outputs as \n* samplesheet_b64gz",
              "ResultPath": "$.generate_trimmed_samplesheet_step",
              "ResultSelector": {
                "samplesheet_b64gz.$": "$.Payload.samplesheet_b64gz"
              }
            },
            "upload_samplesheet_to_cache_path": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${__upload_samplesheet_to_cache_dir__}",
                "Payload": {
                  "cache_uri.$": "$.get_database_entry.event_payload.cacheUri",
                  "samplesheet_dict_b64gz.$": "$.generate_trimmed_samplesheet_step.samplesheet_b64gz"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "End": true,
              "Comment": "We expect the inputs to be:\n\n* project_id\n* samplesheet_dict_b64gz\n\nWe expect the outputs to be:\n\n\n\n",
              "ResultPath": "$.upload_samplesheet_to_cache_path_step",
              "ResultSelector": {
                "samplesheet_file_id.$": "$.Payload.samplesheet_file_id",
                "samplesheet_file_uri.$": "$.Payload.samplesheet_file_uri"
              }
            }
          }
        },
        {
          "StartAt": "generate_copy_manifest",
          "States": {
            "generate_copy_manifest": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${__generate_copy_manifest_dict__}",
                "Payload": {
                  "cache_uri.$": "$.get_database_entry.event_payload.cacheUri",
                  "sample_id.$": "$.get_database_entry.event_payload.sampleId",
                  "fastq_list_rows_b64gz.$": "$.get_database_entry.event_payload.fastqListRowsB64gz"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "Next": "copy_fastq_files_to_cache_directory",
              "Comment": "Generate a copy manifest object, ready to parse into the icav2 copy batch utility step function\n\nWe expect the following inputs:\n\n* cache_path\n* project_id\n* sample_id\n* fastq_list_rows\n\nAnd we expect the following outputs:\n\n* manifest_list",
              "ResultSelector": {
                "manifest_list.$": "$.Payload.manifest_list"
              },
              "ResultPath": "$.generate_copy_manifest_dict_step"
            },
            "copy_fastq_files_to_cache_directory": {
              "Type": "Task",
              "End": true,
              "Parameters": {
                "StateMachineArn": "${__copy_batch_data_state_machine_arn__}",
                "Input": {
                  "manifest.$": "$.generate_copy_manifest_dict_step.manifest_list"
                }
              },
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "ResultPath": "$.copy_fastq_files_to_cache_directory_step",
              "ResultSelector": {
                "jobs_list.$": "$.Output.job_list_with_attempt_counter"
              }
            }
          }
        }
      ],
      "Next": "update_entry_post_fastq_copy",
      "ResultSelector": {
        "trimmed_samplesheet_b64gz.$": "$.[0].generate_trimmed_samplesheet_step.samplesheet_b64gz",
        "samplesheet_file_id.$": "$.[0].upload_samplesheet_to_cache_path_step.samplesheet_file_id",
        "samplesheet_file_uri.$": "$.[0].upload_samplesheet_to_cache_path_step.samplesheet_file_uri",
        "copy_jobs_list.$": "$.[1].copy_fastq_files_to_cache_directory_step.jobs_list"
      },
      "ResultPath": "$.copy_files_to_cache_directory_step"
    },
    "update_entry_post_fastq_copy": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id.$": "$.create_db_uuid_step.db_uuid",
          "id_type": "db_uuid"
        },
        "UpdateExpression": "SET analysis_status = :analysis_status",
        "ExpressionAttributeValues": {
          ":analysis_status": {
            "S": "CACHE_COPY_COMPLETE"
          }
        }
      },
      "ResultPath": "$.update_entry_post_fastq",
      "Next": "launch_nextflow_object"
    },
    "launch_nextflow_object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__launch_cttso_nextflow_pipeline__}",
        "Payload": {
          "project_id.$": "$.get_database_entry.event_payload.projectId",
          "user_reference.$": "$.get_database_entry.event_payload.userReference",
          "run_folder_uri.$": "$.get_database_entry.event_payload.cacheUri",
          "samplesheet_uri.$": "$.copy_files_to_cache_directory_step.samplesheet_file_uri",
          "sample_id.$": "$.get_database_entry.event_payload.sampleId",
          "analysis_output_uri.$": "$.get_database_entry.event_payload.outputUri",
          "technical_tags.$": "$.add_technical_tags_step.technical_tags",
          "user_tags.$": "$.get_database_entry.event_payload.userTags"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.launch_nextflow_object_step",
      "ResultSelector": {
        "analysis_id.$": "$.Payload.analysis_id",
        "analysis_status.$": "$.Payload.analysis_status",
        "analysis_return_payload.$": "$.Payload.analysis_return_payload",
        "analysis_launch_payload.$": "$.Payload.analysis_launch_payload"
      },
      "Next": "update_entry_post_launch"
    },
    "update_entry_post_launch": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Key": {
          "id": {
            "S.$": "$.create_db_uuid_step.db_uuid"
          },
          "id_type": "db_uuid"
        },
        "UpdateExpression": "SET analysis_id = :analysis_id, analysis_status = :analysis_status, analysis_return_payload = :analysis_return_payload, analysis_launch_payload = :analysis_launch_payload",
        "ExpressionAttributeValues": {
          ":analysis_id": {
            "S.$": "$.launch_nextflow_object_step.analysis_id"
          },
          ":analysis_status": {
            "S.$": "$.launch_nextflow_object_step.analysis_status"
          },
          ":analysis_return_payload": {
            "S.$": "States.JsonToString($.launch_nextflow_object_step.analysis_return_payload)"
          },
          ":analysis_launch_payload": {
            "S.$": "States.JsonToString($.launch_nextflow_object_step.analysis_launch_payload)"
          }
        }
      },
      "ResultPath": "$.update_entry_post_launch_step",
      "Next": "add_icav2_partition_entry"
    },
    "add_icav2_partition_entry": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Item": {
          "id.$": "$.launch_nextflow_object_step.analysis_id",
          "id_type": "icav2_analysis_id",
          "db_uuid": {
            "S.$": "$.create_db_uuid_step.db_uuid"
          }
        }
      },
      "ResultPath": "$.dynamo_db_put_item_step",
      "Next": "Wait 1 Second"
    },
    "Wait 1 Second": {
      "Type": "Wait",
      "Seconds": 1,
      "End": true,
      "Comment": "Wait a second for database to update"
    }
  }
}
