lib/workload/stateless/stacks/oncoanalyser-pipeline-manager/step_function_templates/launch_nextflow_pipeline_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Move inputs",
  "States": {
    "Move inputs": {
      "Type": "Pass",
      "Next": "Place into portal run db",
      "Parameters": {
        "workflow_inputs.$": "$"
      }
    },
    "Place into portal run db": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${__table_name__}",
        "Item": {
          "id.$": "$.workflow_inputs.portalRunId",
          "id_type": "${__portal_run_table_partition_name__}"
        }
      },
      "ResultPath": null,
      "Next": "Generate Batch Submission Job"
    },
    "Generate Batch Submission Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${__generate_payload_lambda_function_arn__}",
        "Payload": {
          "portal_run_id.$": "$.workflow_inputs.portalRunId",
          "workflow_name.$": "$.workflow_inputs.workflowName",
          "workflow_run_name.$": "$.workflow_inputs.workflowRunName",
          "data.$": "$.workflow_inputs.payload.data"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "event_data.$": "$.Payload.event_data",
        "workflow.$": "$.Payload.workflow",
        "overrides.$": "$.Payload.overrides",
        "output.$": "$.Payload.output"
      },
      "ResultPath": "$.get_batch_submission_step",
      "Next": "Submit Oncoanalyser Job"
    },
    "Submit Oncoanalyser Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName": "$.workflow_inputs.workflowRunName",
        "JobDefinition": "${__job_definition_arn__}",
        "JobQueue": "${__job_queue_name__}",
        "ContainerOverrides": {
          "ResourceRequirements.$": "$.get_batch_submission_step.overrides.resource_requirements",
          "Command.$": "$.get_batch_submission_step.overrides.command"
        },
        "Tags.$": "$.get_batch_submission_step.tags",
        "PropagateTags": true,
        "Parameters.$": "$.get_batch_submission_step.parameters"
      },
      "Next": "Put Submitted event",
      "ResultPath": null
    },
    "Put Submitted event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__event_source__}",
            "DetailType": "${__event_detail_type__}",
            "Detail": {
              "portalRunId.$": "$.workflow_inputs.portalRunId",
              "workflowName.$": "$.workflow_inputs.workflowName",
              "workflowVersion.$": "$.workflow_inputs.workflowVersion",
              "workflowRunName.$": "$.workflow_inputs.workflowRunName",
              "timestamp.$": "$$.State.EnteredTime",
              "payload": {
                "version": "${__event_detail_version__}",
                "data.$": "$.get_batch_submission_step.event_data"
              }
            }
          }
        ]
      },
      "End": true
    }
  }
}
